
@font-face {
  font-family: 'Bariol-Regular';
  src: url('Bariol-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol-Regular';
  src:  url('Bariol-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAIfgAA8AAAABjxwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAACHxAAAABoA
AAAcXhuktUdERUYAAGdIAAAAUQAAAGgWDhPCR1BPUwAAbUQAABp/AAB/NuqfAglHU1VCAABnnAAA
BagAAAzornmUKE9TLzIAAAHQAAAAVwAAAGButSeMY21hcAAABfwAAAJSAAADTmtH5UtnYXNwAABn
QAAAAAgAAAAI//8AA2dseWYAAAwsAABR3QAA3vzZhlXoaGVhZAAAAVgAAAA0AAAANg/FdCBoaGVh
AAABjAAAACEAAAAkBuIFCmhtdHgAAAIoAAAD0gAAB6yClEi3bG9jYQAACFAAAAPcAAAD3M1GBVBt
YXhwAAABsAAAAB8AAAAgAjYAgW5hbWUAAF4MAAAB0AAABJUiWzRocG9zdAAAX9wAAAdiAAAOLFjo
4LN42mNgZGBgYGRwvFE5Iy6e3+YrAzfzC6AIw7UFEiww+n/UfxYWHuZ3QC4HAxNIFABYfAureNpj
YGRgYBb+r82QxmL6P+r/ARYeBqAIMmB8CQB95AX0AAAAeNpjYGRgYHzLUMfAzgACTEDMCIQMDA5g
PgMAKEMBuQB42mNgYmxjnMDAysDC+IXxCwMDwy8IDcQijO4cDEwMrGwsDECKuYGBQd+BgcGLAQpC
vcP9GBwYFH6zMQv/12ZIYy5guAoUZgTJMR5jWgakFBi4ATHFD8kAeNqNlU1slFUUht9zv2GIrYra
mTLTH0M7dRiHsQhSoNaaNgqCTcvgwgUxQYmIiyb+LCRiYly4dac0QU0MYcHCnUkTVgYjiiYkii5Q
kBiLqKOBmAD+BByf8zkzmUyZSJt33vt993z33vOenxseVkH82TQ/F8AXGrWMNoa8hsOwhkJFxfCs
SjqsjZbXA2C57Va/fYLtQXhWG/SeBmxO+bBD622n7gopvrlTudCnnrCK5/W61xaUDUWt8rHbg37b
zr6sE/MJDUYDKoTd6g1rVA57VQpPwska5nh+XWWdU9ne1W2sVWbNcvhLm8MsOM78Cp6dB2E/e48y
4XnGE+qK1ipll7SUtbqC6XaL+H5OK+GUfQ3vr/5qL2qffaVBu6xJO6IcnLOTYEBpO6tef6+jul8f
Vb+0Y4xPazIqYOv2Feyu1XgEPowmy/nuB22wec77Gnu+g3bzWmJvKWOPKatTmoJ77DvlrbemPfuG
bZrgHP1+1tjmTw3ZuEroM2KPKx06NBPu493LKtir2mrPqBjr2MH6kW7Bj5d8X/ws6hD+jGlKH7PP
E/jOt/ab+sIy8BD2J9jPNb8Ooq26KY5DsikOyTgGK8GYzlX/hhWe0h2NGDTjM5VsF/M+9jg0w+Pg
8cqhlWt+HUQd8JFaDJpADLrBWh2t/gQu4E+uEYNWuC4VYuxxaIbHweMFu6++3yLG9zge7djzMwPj
v+eKa+Pn+18mlz2f2jJ5bperP8NZ1u1E57P4+Tl8Da6gucEX4TQ6JOBpeII6Lds+jXl9eI7GNUKe
xljQI+Sr12HZ8zbmyn9Mnk7aH7pZ/xAr4uhatjJINt4RT9e2laO3ydERnqk/r4Ear6vxaq9Jr4u2
TL16zSziF7TdzpPP5E0bnmo8E1uvda83z7E4vvWap+5aWd9ToweqOzzXPd/QsC/Ovfrzsdi3VP2M
ce3PaNgeBWPMpfW0ddLL1mkT2hfsF71S37+V6+fRrei8RXui/dqjA+oHWX3AGkMxsjYK5jUe46C2
hQ81kBihxp/TNJhhfqkVsUngwxLqvYvvK+qwZer2sc/F9e79wJh3u+Riu7C3eiVRZM03saVOQq/u
afRjoDfIxRL6nAK/E4cFcBW8T6zKWgN2gi1gMxgFD4JxMNMYn8F2F/fCLD32KjmQ0gqQQc/VjXsh
r7vjMXdJ447x/uy9mT7pPTLued67aho09DtEjdPD4t6JVvYNvlyp9e4fyR9iy/qR+xCIV9SpdKJb
6TqH04zP13w7wxm4x/xe0LfkVLOOUXsdb9juEme6QYRPqadB8ukivtX+/wXtFGLGAAB42q2SV0+V
QRCGn/nAo2IHREA87jmiYkcsCFYEUUFpYlc6Ik3RqEg0CtKxBltsib0iGHtNbNEfYEy8MZwP/gFG
LyThcz14ofHCGzfZ2Z3NzLO77wzgQfcMQrRFYrQnbt9TQvQayzx6YGMPTbJXGqVdLCPACDfeG5/t
1fYvqrfyVYHKrpxqlApVkSpGlagyVa+aHH4Op9PbGejMcOZ+e9Pp2WmzLM1TnKdZc9rku+GvOe+M
T/Zye4fm+Ch/FaSUmxPh5mxT5X9wcjSHnxyr3XptvbJarAwrzgqzBnfVdpW2fWzLN1PNeHORudCM
NaPNSDPMHOPqcnW6vro+uApc6a0lrfmtwa0Or7e2Oltt93//w7AZXm7l+IsoGL92xj8Y3ZkeeLq1
7kkveuNFH/rSj/4MYCCD8MYHXwbjxxD8CSCQobpKw7AzXKvqwMkIghnJKEYTwhjGMo7xTGAikwhl
MmFMYSrTmE44M4ggkpnMYjZzmKtrHMV8oolhga74QhaxmDjiWcJSEkgkiWRSWEYqy1nBSlaxmjWs
ZR3rSSOdDDL1+6upoY4GGjnJOS5ygUtc4TJXuc5NbnCLJpq5TQt3uMt97vGARzzkGU95zgvZwBZy
yCVfNlKq+2QzhVLBdgqkilpO6Ru2SrXUkMeO37QrYpe213hCOdlskkqJcp8Xs1vyyaKCKk6Ij/hK
mqRLtuRIhmTyWEe8lAgp1l1dKEVSLw2Sx07JklwpoJL97OMA9RziMEc4yDGO64yjnOEsp+mQpbKM
EkmUJEmmTFIlRRJ+AJYHpVQAAAAAADoAOgA6ADoAVgB8AN4BMgF+AdgB7gIeAk4CgAKoAsQC2gLo
AwYDJgNIA4ADvAPsBDQEbASUBNAFCAUeBUIFZgWOBbQF8gZYBoYGwAb4Bx4HSgdyB64H2gfyCBgI
SghoCJwIyAjqCRQJRgl+CcIJ4goKCi4KZAqeCsgK9AsWCzQLVgt8C5QLrAvsDBwMSgx6DLAM4A06
DWgNiA2uDd4N+g48DmgOhA60DuQPCg9ID3gPoA/ED/wQMhBkEI4Q0hDqESwRYBFgEXoRuBIcEnAS
vBLkE0ATVhOiE+4ULBRKFIoUoBTCFPwVMBVoFYAVrhXqFfgWJBZGFmwWrBcMF3IX6BgoGGYYphju
GUAZfhnAGf4aWhqYGtYbHhtaG4IbqhvcHAIcOhyKHLwc7h0qHXAdoh3QHhoeUh6MHs4fBh9AH24f
vCAMIFwgtiEaIWohvCIcIm4itiL+I1AjliO+I+YkGCQ+JIYk1iUCJS4lZCWkJdAl/iZCJnomsib0
JyonbiegJ+IoIChwKLQpCilWKa4p9io0KoYqzisOK0QrliveLB4sZCycLN4tGi1gLaQt8i4mLmQu
qi78L0Qvli/sMGAwsjEiMWYxyDIaMooy0jMaM2AznjPaNBY0PDRiNJA0vjTuNSg1SDVgNZY11jYW
Nk42mDbeNw43PDdoN5w3zjgAODA4Vjh6OLA45DkgOVw5njniOig6bjqyOuY7GjtMO3g7sDviPCQ8
YDymPPA9OD1uPbw9+D5KPoo+3j8sP4o/4kBIQKhBBkFeQZZB3kIaQmBClELWQyJDbEOkQ9pEGERW
RJJEzEUWRV5FpEXqRjpGjEbQRx5HWEeUR85IAkgySHhIvEjkSS5JfEnsSjpKnErqS1pLtkwKTGRM
uEzWTPhNGk04TUZNYE2ETa5N1k4cTmROqk7yTzZPfE+2T/pP+lASUCpQRlBiUH5QsFDiURRRNlFo
UXhRllH4UhpSPlJaUnBSnFLaUxJTOlNkU5xTslPUVAhUQFRsVKpU4lUKVTRVbFXMVhBWWFZwVpZW
1lcKVz5XXFemV+RYIFh4WM5ZRllmWYpZwln+Wi5adlquWthbFFtMW/BcDFwuXGZcolzSXRpdUl16
XbJd6l4AXjBeYF6CXqRe6F8qX2pfql/OX/JgCmAiYDBgcGCKYJpg7GEyYZRh3mIoYoRiymM6Y45j
/GRMZLZlCmV6ZdpmYmaAZp5mtmbMZu5nImdaZ4ZnxGf8aCRoTmiGaJxovmjyaSppVmmUacxp9Goe
alZqhmrGawxrVmuUa9RsFGxabJxs7m1CbahuDm5Ibpxu7G8ub3542r29B3wc1fE4vm+v7N3t7V6/
k079Tjr1frpTL7YkS5bk3otcZOPesME2YGpoDjY22BgSBwKmGUJx4AuEAKlfMAlphC9pkEICAQcS
hxaTWKv/vLfl9sqeJMLv7491Tbo35c2bNzNvZh6lp0oois6mn6N0VA5VQBVRVFGwob442BBupxvC
oWDAEwxH6uu8Hjev8zAFjoJi+EEN0ai+uqCkoCJ/Zs20pmivN7/A+xt0RNhcgz4WrJdF64qL2gM1
mQVFs6d0tTbmVBfkVfjfoJfWjnZTAI5qGjtHHaNPUgzFUZSzjtG5Aw06Z6AhXOfp7kO2Etuc4WH6
ZFAodTrRr0YvrK6pocj3GtEvqD/C98yUC3/Pa0PGQDUKRZRXPbk8MtMB2owuV17RJ23Wbzgc37Da
pGdxrKqxT9A5+iZqKjWNojpQMBAKR1pQVH4Wabah+tirOq/bWI4Y+dkIf9oQhm9Kr1xMfXR9ToeF
5y3TPL34aUa23sPyyP9l6bkHfzjkGcRP8/J0XosN5XyZPG/1fNnje5538zfAz7c9PKs3PCo9SR/+
yGOz6A3Pkyd0yQ03AA2IKhw7SNM6N9UGb2CqjB53rs7jNjLwEwi1oSpUDHgB/j5vfV2kIVylh3dR
+Knz5iCvD6gCzNG3O1dPnzZj27YZm9favLbp2/0GJ++0NO+Zu7hx3up5jcNL4dPLO40uzk4HZrZX
V7YEyxdOXTjCDFjsdsuAvqfWYuJc9hVTu8pbc4KFM6LdK5hB/KtB83KzhYOJMlBlYx/R36Mfo2yU
h8oDGasGfDFTGSSyLooiqC4cDLhdmLdkChLf0z6Wp4VnjXaLjUa9jPDkqlUrVw719g4N9vaiF1Rv
YLotRv3oFRzPGvX0VZzw9zNnUMbiI4vh/+iFsdcUSHzF2If0UsDLQhEeuty+dkSE3ugC3gE7gW9R
CUWRk5hnjNcXkaSCwW9EPoa+UVAztSQ3VPLG4KrA0KL2oS3Tty/fu7VqcErLwGB/+41+mzGDc+oc
ebndbifnnEd7ZnTkLw0VljQIOS0rGutmtPSZp65ZvH7mgsVTF/a1t66Orl4X6vA5OYulo8aVa3Zz
zjI853gNbCdrQLUCepKlHf9t69hWZKPfAp5TEbuCM29w5+olrItDrdNXmgysw5lXnmM30bTJnlOe
53SwBtPKxejOF8p0DtZpsoUaI4v7L+9fHGkM2UxO1qErI/LnG9tKnRHHd9qN0jqIthtA0hTJOzN9
JWNMOT76l7A6HQBE5aAn0DT6NJUNc1PMGItDHSDR0UgeKgZNwUQjPqDf52WMZ9vbrQ6ntXOt22Dw
bNBX6Dd4DAb32k6r04G+tXy5i+Psi3wGr5fJ2+h2b8xjvF6Db5Gd4zAMauwcehE9T2VRVCFe19La
kfSAtFjq69CLdvZhR4bjYdYuv3jba3/I6nBYH7J77Q/jFw8TnMeGqauohZSdoqJuzBLgCKw9YEd9
3VV9RsamKyqsrvWtHzDaDPr6EleVp4bwMkr9CTUgH8XCO4yHCL8ONdjZ0xjmaRYxXjuAgr8tAP15
BcAwUJSXaM0rhodNREsiKjR2J9pO/wPWGuVD0oxLy6wUmZgM3qkTzuGneh3rc3FG8/lPfE7eSHRi
BNZDIawHBn87UhexhwJGO0iZHVhi/9lzCxc+tzB6fu/e83urbkThG24QXkHnHhJuf/hhtJ4iNBQB
Lw0gm26YL0U/EhwcmKsNP9iENQL/NYuFd7myXfTQEKgVp3kL4+JHD3NuNwdj4Ik/AzgUwxjtSNx5
9J4CoggK8IjtOrxCpeGnetYNjuyMzlk1J4qWc04nJ1zOOYe2bBma0bOmDK8ZurK9e+PixrU93XXN
2U4//EXbSN+01XsGlsEqNAC84NiH6B36bgJXXN94VajVJp4LTEgBnpL6ApGjJsuOkYt33NptcHAO
S/32OXOP9XIO0zOCwDkcHMKv0e17V4xs2mEycw77vIFpxx0ca3nd4YdfW83Aaz/w6hz9IOWHfZcq
kjYVSfgKJKWI8UH1DnRXE+908k3AMuENzsmgKayddwmvnfmNw++6GvPtaqwm0Cu8mxPmoFnSXHwI
499N1Ui6FvNLpisXEcKwopMXLea1xGQmguyb9u3bNHt3nh40lSV/TvvQ4iWDkb4AxwNDm2m7FdUQ
Xr9T0oRe2Hnhrp29XSaGczoiNXMXzJuXXcA5OZ0Fhcw2YPhPSsT9tgZkywjz6qcKVRg12IFGn1dk
ejDgaEeuOoIY4/ai4LrLLtuy56L/RBe4LUAgG+38VsbyyAOL+7a1LUSntm/dteXJr6KtBV6L32kq
Fd4JNgj77psza8vqPZj+TODvK0C/H9YhyEyDavZ4HeHztua5c5uFxzAl6CLO2TJ3XovL78pY9vWt
y5eWElFp37Fy/R1LgPewV5QDP8cAfxfMF8imHnMtQnYFIhC5MHc03oG9mLNG5RW68vUr2hsXbXlh
y6LG9ge/1Nd/dX/TPQuXHF/CbxjpXO6pXr0Q/q2u9izvHKEzmpqaW1ubm/7W198H//qT+VYUkLch
O5lOWUodPNIFxO0qHEKuNHw7K7JNuEViG/IHG9A1MtsAHtEt6DToFlbWLnZZx4haBk0RDTJa1HXw
t3bKm0Lb0eRrMZ1HDw/HqT3kFMfBOvifaDZ6G+uNVhQtkrQWh6TVWMShTMbM2lnhPNLDk5kR/vpm
tvn3BjvLm15+2cSzdsPvMT4UdSHo8i7A3Ee0aFCZdNVrrMmF7VilokP4UXmNaol+PSlq2QS8Ct2M
QVoqlUhaRgY0mxP+SjBDeuE8wQxlfpaMGcYtAPL4ENFrlcArosfEFUhksSFmZLulrVnk/bfyy9vb
yns7W7vdfvcFy5ZvKGtrK+NNHivfNDx8Z35DYWNxSUdppLG1FVQqP2/Fotm1Q9XFpV6Xx2qxOY9j
DtNUydgU+jPaR/VQM0CGRDLI5hZTpMQ4yEFur6IZRHGS7Rz4I7uMIryui+At0uNGfy+e1TzY07ar
vixcaGYtvKF8Xk9ffkFj9L5bb7vrrtuOzjEyZt4ycucjzz77yImXGE+gtXjWMwu6ds2KtDXX1zVn
FpWUwu9NTHNvyyUlBX2Lbrvl2IMnj0b1nMXKtD2JNv/Po/fn1DeW+Cvqqwq68oCWrLFz9HTYY2gq
E6aIRYYCRYXhOXFJMoNO7r4Y0cJ7/eYM3q372OL1WT7WuW0ZZmRAdcJP25/OcPNmI73B5xs9xph4
tw/bg6A5aQZ0BgMSDZ6Qy0OYEdQ5JKa4MCAH2ZeJIYgXvfHI9VN6b7j+vqm9/Z3oNO928w+tWxsp
b+7dRI+82x7ZJfxeGO1ub+sWvuPm6eW8e3he7YCVn9ezSNozsQ06CHIBq9uQ7yBiINtmVUiehpjt
htAa4fSJo9MuLmScvN2StTxy0b5L9oSHs80O3mksuIxHw4+eaqq1sLyTK6o+dPjYjWUlnIuzmGua
RTnENIaBRhNesy6ZsuJ6vMuTnQ5wOLLp4ksuufjAATyDB4AkemT0d/uOHrmi/S7h+J0iGQR3GAu9
CWPBDlYqfVVebB55RyPv0QvCk5g1qIvsG396Az+9gcrgSRwO1O0/4edT+MHjwlp5FcbNwBiS5ZE0
cvCIOztxQFQh/B1DodeSAT/Dgyk8Xgk8LgXpr4s2SLYdkXcQHg2uozWXdD6Ah/2R1cUNH47j+rIo
cL1m1mGySzzmsG9N4rrIH5DVMMgq2JaoQCEEm0MF0jP5DJ0V7sXUZLvRMum5WfgjoWQLfhT+iWz4
efRW/CiOSx2BcVk1f+q8R8Qv09eLf0i+TPCwj32EhuDvfaLmUUwbBYlgIOhycwyXX9bRAiMsHem2
sC7eZbTP6UXPERS6Ry6iFJpcMBbY/C4k+8byqtOJrqc08BEUtDh4j+UXHzJu3sm+u0gibiYa4jy8
1XpGeBg0htuOpo/8X4xaSa5eBBjYho5ZfvKgTmwMCWDswFidzmynOOHwRYJfL+B3UsSvCBCKiU+d
L0ttizp0RrTbY/4FqFU35zF/+BEmGCysVy1bXOhawY3NKnobfCS0oP91yQYqel+41KXACQEc0EKU
zMRipAaHHGF0DkbnHazwdQLGYUGr6ZMw1i3g0dMugZKB8KPv04gn6xPL6nGQVRLj0Ofj6cr3qm0L
dE749b0nUNmJH5zZt+/MPv7UI4+eOvXoI+inhw4fgn+H8RontiVe437VGo/xQtJfwSNfbe+d1vZV
spJemr9x43x6RPikt7OrW3h6jJJX0sjKFWsJXncRvNxULmiqgIyX5P/iZeOMobjmCMHw/iq/xZ3N
FnXVqVH9bLo7n7PyLrY0j75CRlrUTcBTHcE7mA5vRl6quiMPhLt7IveKBMzdPDLraSJpPwY6hOnR
xn7hu8K/ZDq2zp65Wf+xicMCl0VJ8ZMPaRpoqomPn6gsZVXgJKYiYiGTy3bN3pcVHy/Zsr53e35C
tGR4zbRwQpRk+qpojRgeATwygG4EdMM7VzBmspRL4vS3J7DEo5Ocy8V9Ey/wVWCnwv/Rbyn64EO6
SJRFQ0BZ1bm0eo2jlr/BV/lgd91wH37xO/QsWdi9BfVVmfN75Xe/w/i4AJ9K0Y8rckk7jw7mWCdx
BeX/2IS31TOmGtMZnZvPMO2l/V43bzSPHvP56A1mI+/2wjjusXO6XBgHJKaIRaoBYCUqy5EMTZce
OsSEmVO0m/czt9xsjBhvvoXx8276FBN2olFB58+kN5r0vDtz9D+0IVN8BMfQNHpbpjiXDMj8BwAr
KMKSTAIVQAmWpKrQ4089ZXLxbsPp5wwgMtYHHrA64d1zp+Gdy4B8wnucG+wSVImyGZZ3O8YAhMPN
s4zwF+GXJgveAAmf0EcAM0P0BxzJ0IDvjmz3y3hQy6lTFgzwZRNsW3moFQ9iF/6Csu0YkPBD4U88
HtMBD5+ALGRKeyr4gXGOp7if/p+wjHMZ0S7h20Q0roS9X7gZXQAS4uQtZroKCwhs+qOvgn6U9fZW
6h/0W5QHrHq3stPjFUUErb7uHzZ2LR5sLWuzsT097Fa33cnrwrzT7raf/5iMUTx2J9ohxhZcsnEu
GcMXIJPOxWUwwjn8RP/6/CcgBE6fjjUbsZBjWdhKPSHBx3Adyi6MdSfg47Zbenpw4HAtlvO1lqvd
dp3VjpE4/wrvFOGjeegR+gkslyg2xxHF6kOXHj7M2Fm77iSTz5zUwSu0ChmE/3B2ljGCtcEJrxsZ
ltj2Y38buws9PPZ/eA/Vq72Dh8EjuJh4BPvZFtkVANiX0CbqPH0Ljru5jNWIhKG8n9lsq5wer30x
R5s422qn2+3e7JDt/Y/QcfQaFaAq4BtxZra4A7UhHqkscZ1oUoMOendaJcdZHYa6XQuGsYExo3rW
8uHZBzqmN84+UN+Cbq/nHVazaeayGcIH2DwpDIQGuqcMZNW3CEe7W8vKy+YT+F0A/1X6NMWRnZpY
kWDKBniaidZJvrekGtrRVX2tBw74q3M8+mte3jiyeBOWnj40ZX9P79NPOf1+841n9+5ZuxKdJRvv
37JCFImbfISOAn04thhnP+EzA3ec5xDcNNI8w8k4rBxbOvXAgeZmi9nq4KbMH9n04e6KTIuZs1ur
n3q6HP+BNYJxx2M/KeNe1FClF4eM6ACKymYB3qFdtNGXXe0/cKC174bKPheI+6bFIxuf2a9n83yu
p57uRatCWchDELevXLtn71l5/McB91xsdUcx9ljv83SwQPF5RJenKIxDJMHNq6t6SzPNtBFGeWN2
b0eTGQhgG9es24FmXNnZZ/jLzn3ZZdFqn83uZQcWlRsdGWzj7rsOD3UDnzygI/LpR6gCWbeToKJo
wwaMOfKxgqjp5wdw+CiwcAF+amxYip+Wwmyg/Q6/o2X6anhsDbfAo3AQk4R9lqyxKHoJ/RO8ygaq
A2DU+dqRNDojzQjIlLzjB6oAepQ8YMlz1kXCoYDRjcLlSNy83+6o4EuCOJoZ4AtXL+iscE5fN7T6
4lVNS6YMZgdKClfnXNjefmE7yti6ft68q+eh1zL92Y4MR15F59DSTJunrGfq9F5fV7g3z1yeU55V
CZ8KZ1rXtLauEX4yyE8pLyVx3S7gyQswvzk4EiSvBux0gkFuVAsmMj4DMxruvlbc8GzT0GunhE/I
bHZ13/Qv/II+RN6+kyvFmZrBNr6OvgTWtSPeOo4Qf/pKGA/+GwcH0aPCRqI8b4PH7aES8ftjvxib
Rl0P33dgazlO2vCsRcRTqi5AZm4Hnp3Cqt7BwSD6BUGiunMBzE2YvoiMJtL5MNBJLKZqFGccO6IR
0XYm6wZ92W491SZS+b7Z7+Lu/SbjMtn+XHu3isbl3zNh7+Oat01WrBDJ+NRLML6NnAUAmtLEA4h5
fleJ1em0rqdPu7jR/20CvC6iWzhRl8H36H+C/Fcl8t+oNRk5CEuVL0KHnwcMG3s62uEp0nOpiDHf
W3VRWWVsbjp7OpoSpolwmc/PLentVXBALwAOaWUAg52ADCiDS2v7JRjXRPGEK+LUOfMbwvmew6e3
bl0zsq0LBYTfo9f2nN2796zwi6efekrUl1H0W/iej8on3xMpFr9eLE+cV1ajwF57f/WaLVvWVE9z
Albtg+2HbmlFP3Vx+dllMHBpzlt4F6MXcpc+s/TppwheUfQkjC/ptLCkJtvpKBOQoj/KtoB2yQrZ
8CWikIEBrr5rE/Sx0IdBvInVscTPcvQqllqXR0HdqObmVfb+OrxjTO0TWYkerSisgB1m/rQ/Klwk
YxWMfYz2oV9S5XjnSjCKFZtYJ1nIxPoP/WxxZMZQZMVA0zIv48iw1M6obokMzYjM715fA+/NFei2
1pxQZm5rRdfUimys/y21gaLsoszctsrWtk6zxeowi2dKoC+pz+iZRF8qpy+SivTKE9IgWg/1S4CK
LrwMu/L9mLLmzmISf39xA2bNBqwo388LwlNvI3LDEz5nAfl4GP0U22zimvGKRrLKMwxP97vCN4Vd
POec9dosPKnCfxq7uhqRAY8q/GfuyMhcZJD8TTvw/X4Yz42jpcXJFuDZMvNDOifvNR04YPLyTt1D
Jjc6YjbwTo/wAFrscfIGs7AZ232wJrfBOPmy/appLIOdc3zZMibDa7oVbC2vadcKY41xxS6Tl3Pp
bjV5M2yoTfiBz4NuNRkxlP9BAx7x0ckbTcIWDyWd3Z1D1wI8bC8XK4c1kt+TFzsAl32egX37zA6w
OW+8Fjs3lr17LXZ4d+2N8M5hOHWKc/JW5vknLGbeyd1/P7wzW5543sSKesoAso95BJLvq2vXRZO5
xIsHbkF/SWaOzf6AmmH/m7+gByb1gN1dX1CCDiSwrnywT5xXmE90CXoR281OxVrW1cfOjaJ4+wXZ
cHIO5rO/krDR7+Dl+V9x6Kv4VIY1Cw/BYsAv0CKRR5ljW1Ej2Kx1oo1IjDVYucrhnBjpljdz2D8x
q8hGi5c2anSw03qt4RrGwnEWpiZsndbLOhzsdFNHc3OHaTq7yevorvUfz46EODcXiuZfFqnpdngd
/b792dGenmjGQV+/iMfA2ErqgK4kMd5zwJWNIxY65vwlOJCgu46T4j1+wLtJxNuL0ZPQlPCXtjIR
Ta/sARDnnUy1X4UioNs7TU1C7zT2KoziwQyMYvZ+Xz9g3F0TuSw/SqiIZB/312K7J0SdRU+hC7A8
o7p2FAtgBkDz8Ug5LMarG/U7M81Gk8Nipy2RBduyVe/KS3egIhvHgV9gNOaVdqleUlIuSZA6BnqV
5JJ4A1EXbM8uGkzcQMNNci7Jm0H0K6dTKKUP4ng4tl2PoqN0EbbMo2E5ISIXaVmwcj5FKPikzWur
6bQnmrJN3fD5k3/5vb0J+05NhlJPvFFbxfTgX/Tis9vOsX/SFfRj1ACORcqhdeCILqhwpCFcLFmK
oZiOFfGCSfJJ6hB/F2OIEaXBINBXrM3fW2DP9vEOZDXxTj477K3B2tBVdvGqByOgKjyW4kunzK9/
DH941NbizS3ZlTk1y7zbxZlMC6oNFsbKuDie8y0NFlbDopo5OHfTtViH+Fb0tkxZDJ8U1PU2cOVR
Jzn7oTagp2kzVU01UVRhQFQhoEEwCYoWwcjLdg7GV9wtqmlsdgIxbi8qvayqymLlHJbKvPxqUDBW
S1W4sbWq0ux3spX5+ZWs02+u2BTu6grXd3dfHqyyOP2W6uqWxnANfMtpqQkWwEecla2qbm+qq+Is
8FllVt/Gvv710tqRffRI6vN96TlZI8nxa1jHT9jZne5s907sFe4kj9tfVHv0L26XfvOy134jDqPc
CF5jNfygaIKT/zL+hSi3sTXti1/VmShphcvrXLicxCDxke/oWWEfeXMN73Lh8QpBx/4S5IqjYGEU
hatobPbn0r5IUTgaituqlUAXozrtjm3r6HBb/wW+ktbp8CDcGilev35fH+P0s92z+3r71q3rS/7k
p8VNWQEu0FHc5Ien6wdaqjv6li0xw1yw3c2V1S15RbM6pid82JxfOEuMd9Je5KBXieeNonUtnnzt
6uv7Wl8f7S0KhYrgB/s6DWMf0u8DjblUGVWP47v4mNEbR5dq2eqUQ+ZwxJXvsBcEjHYvOvC1r1V0
W3W811xUGa67IJxrsbC8sXjmQ9984uQDTz75ACoSfnf40KGvPvV0kddoZHlzUVvfl3ItNovJVEu7
H3v8sccef/Sxx0d3ozJUfqvw81swXh7EoS7AiwWN0hB/8qhLPGAj0qc6gmOUo7Qu1iT828SyJmQ0
XV+Sx5hNVkNBT1cH5+RyOhq7pjYtXlYSXjwLldhZfOI4v4Cxmoymyua675o5zuyqDFfV1GZ0/7ui
pKi1TZSxGWOfoecQjtmWYi+9AyVs6tUo5YczmBMmi4Vn7riD4S0W04lbE97/2Gn+rpm3mE3f/KbJ
bOHhTeIHJLZ6jrahBhzDRw4lrUHcmWkbtsw2kyjLNzkH8gljWCe9B6sDnDY9VYIuR7OAnyb4djH2
Ulygz8U0MDE7wOMLgoIHf0H2azHuGHW815Wjbx892js0VHu2tXXPNp+fi3qzM+0FOiuj7yzLyCij
H7v9jqHbB4W/XjW17UpHLcddw2W5XTmlej1nnOHPBNz76UzUQA8k5+LYLM9abPiBbnXbbG4b8LgM
3Yla5Hg9pTiKXknBgfpomdXUOGtWY1NZU1lpU1NpGT28fdas7bO/Oae5eU4TJZ5b4/MOD5WFMwuo
NFlIzoRz7ISMpLjT7HY5K8ku5ykJv1bFs3zoJHWW/i2OgEghXp6WD+1Img2tPh4Oegfqmuva6q7H
uYsPWPhwWzgnq8htYi0cfV9DdVl+JKfQwbvhl8Ut2aWZzowcC2cxYDgcOkGdoV/DeaYuJjm/JpZe
E4sHul/rrqpobu7N04M+N7lLO1q9Ft7Yvhyz/pDFRp/sjYSqIs0mIxglgXANCB4zlffyPGsFeBfT
JuqcFKcLgXDjHDHjXju32O71OFfZaBPn2Ox2u52rbSIfomP1xB/IJVo43hkATFUu+27ZJ9g4o0J2
oBIdg6qfErdvKe90YdkY+wP6BX032EAl0rw6EtOL2pQYYB0TdLgZ2P3RLxxc1s37q1w4Q8mY4WqM
FkwdHp76Dre+rKu5lj4ES+fF+x4wmzyck2aWDd2+onvqilZh66auvMvXiTQFqFHqSrQM54dJUY/h
4VEpP2xgLJ/C0Vzwu33uxFQnENlgoAPVY8Pi41Uhv4lljCDE2ZkV5iyDC+mCBqd54ZfnO41mE6uz
uLKq9N6BFlq0OdH91DH6V8m5X5IHOpJrNlts1j7GBKaQ10Yf8jA2mN0ag40dxVFfrEddoEf7YS3p
KJuY4RsOqCWeyrfnD/7wh6OgJ88SPWk3CX9CucJb6NA54euiVrxMeDaF7isE9Zbk4hhTfYieG0f5
vTm+8qOwDssGu+Pn9DcAfjXY4VM0uILiE7/UKXNMfYPBpXL64Ddr43mIptrxcrTb3fZtsECuM1st
9t1Thbc/NbhYO/2J3gOPa2U22y2j2AYVXodVWooZXorXzbdZG3vvykfpy0BpmOjR65x2FqcCwgxg
/D8h+DdR/RrY+8ZXHEx6En6grVd+8injwGQwzhRk3KGpc36bRIse+7q0CWxAnGvXSy1IyrdLYLtu
onpKl0Ac+mOqCflpWm02TzVbm1LMDXoiUduZTFNh67FZrKN3JNGK40w5oM9eE/OMkJRSJK7uSMwg
wslHEnUh4ishd355WztJNAJTMzHRCFVNKNNIjEefo6frhkl+TjBdho5OOUXRzNX5unK8opW1Q/9v
7NhlErCRsjNowhbOKXtGGuDqvUSGP5PAr0hLO7hLksyBziH2qyYi18yebQTAK01200oz79ZE5sXu
biNvYU0zjcaZsH54BZ96gk9DWn7UJeR6qfLCtDn0ob/PnekxWS28zt+meq2Foq6wOJvlwXkPy8+w
NkUcawiOuDYgDZa0yjvQxoq4DZpcel1xJxTY1xDYJKszHexwnSqrUwv65p//vLc7O2dKjiYCj/8w
lJOXC//yxPVqHjunywcbIYT3KXzi26ZUlOAM4NTpVPUOHcIZVb/cbXbzHgbdwDpTpFaNvv6Ym7/v
O3YPb2bp1XZVjhVgl0HyovJJ7hnsTgYtWyA0gZy0YDE2GNC3ki0G+nyaXLWeTH2SOdGVi1q1EthQ
Fa3ksKE3YZ2TOUufeabSMto5aJcoeiYpG41+LeFcdzKwY1pGG/a7ippJBVutX2TYMwF2zbiwU2gY
bSSWxeuYZEz+L1G5UFK+JOBTA/gEZenVxihu9Wqj8luyfpMxeFtZuDRVPHaOOglzwOJsAnXsJKrM
tpQL54wd0Kuz4jrUk0pTLTDe86nGK1ZmUBpvQcyRiB9PNVH02L9hvPdhnljJq4jhlzwr0sA18TMQ
N3pnMvN1uG6Feht4z4onlWooIRWnpeEHxWCKetRZMkNpCgf0GkAHeUALUS5VKqhk68ColBQME+Pf
8OLCA8fuuuvYAd6dh+cuz40cLu57m3ZfetnFm77H0XeLmaIoCysbPe8WTvudo5cePbLvHcxvkjsH
+xLZlbSz54rT7UrJmXV/1NiO0mTcfS1pQ6LkurDjIA9mku1PefMx1fmg9pzEgsIYFCmS9nNUcu8J
4XUpHQ/VKRKXlJn3kdpWmQCMqCJ98TC+rQhhChAxQZRhzCQwQhp0JEtkAkG98ZKZBPLjZLtDhFtP
4FanhutKM7fxCDydOd2ValqTEEFzkmdTL+FSQ3DBFkZKbNRxx3jop8nCSYalj9kRCH4q0Gp0A87z
deFwNwmm4UA3wswl7iWOsJ660uJ1mK65xuTwWq5UvUZon8XhNV1xhcnrsOxTvRbn8B36OP0MYF6M
eWkIxA7rpO1aOarD1OjIEQHC6URg4cOut2b3ULXJytoNdUMnju4ZqiKvawfvPXLRvnq0tGXVRfvq
hPua+KYWi501GzsXP/DoqZZm8rp9yf2PnMIZmlf2o2/Vjn7n0KEr+oW+GpKn+SFdBLJLrGzNjEPV
1hufe/hobIloZSHSb8XWykThqYz6eHjCX2MLJg3AhL2WwJwpWvLaNKbYZuOB35GwfDQR+HPyOhJx
qJEtY00sKPXWmkD7+6IAa4L9SLWvkrMS4HMGFUiT0agya5JyG4cUTmtnOdKnY6yWc5VxrilowahH
nfshleMp5RfSXnYfzlS+j6Quf+XKWN74BThRGfWLCcxyjsnHMPYj+ITKJQUqtJMZpHocJQkgcqZz
aVVjFc5iiE9rmDEUya2oyK0v2YCzgOhHBhqLO4NVGVrpDTk1+Xll/pyy7YKPZFm8N301XtckP5C+
heQHRiaZIRhLQEyfK/hizH8eP2sQ/U5lFP2X+CkSkh6/GTEXe0L4qfc2Eb/9BL+OyeKXvGrTI/qr
BB98AtiKy9nK4OXMWC18DOcNBOe+yeKcZsMch8saG+gEqKBbUxhIeomOVYSOOqpxkpSoN9v0mI+I
vvwEuP1ebDtW8HuW4FdDNU8aP7Wrnx7DTxV/fwJIvhxz/Yks0O+i12BtdVA9GEOjCkUcWM2lU6Wk
FhuTcfa4xTzVd4vrsiRcd5aHtzXODtmTUlYPhOqumLV8+RyRgK10L85fRbf7skXsZ80q6WzJJXms
S8Q81pGRge6uvjyRjNDs+b+/eaBbzP/NJ/m/reliBw3pM4NJ1GBRiqjBvakzhpeliBdkvL43OYmY
BAp0Yp4v6DCc51s1kUzfmGIdN+f3x4pu1c7+HYuLHXwefBRFOi4+SxVdmg6f+HiliM9+gk90Qvgk
K85xEXsrXndqYoeYJI2J17KI4yqCYxmOe4yPpVrBjIveBUTHaGPFqewjL/jct8P8pYk7SPnFntjO
q04zHoyPO9TBeE+mGi8Wd5DGG4jtlPHjxcUd/grj/QbmcyJxB2ng2oSdTT36vOQJ0Y39HWD8EuZj
nLiDNPx0UYOrR10SizuQXF36NFWKPRtXnS9UbJMOWWIFWPHujZgEQJJ5P+mpdlU3OjgHV5sRtTus
JlN1pAJ3W+CKtuAs362VYppvXn9tCHdpMOV7CsxO1qH31WbDe7s5Y/8f9+zde3aPsJikAJMcYJyX
vgEs0abxspLTxiYSM5ZdWoFy7Uzmo8kbr07i1y0ktzkjKbs5przUec6/iUmiKuMZFapjEeOMqwij
etw1MYmMH1eRSHnc/WTcguRxk4VSDeCdBMlUQ6lIlEwZ1gYCqywZVprpUgNdpDlTKujXpooziPBX
EfhuXHeZgIFaKakhbhJXiHr8upgxo6Nwc6oX0cWkJ0sWqbXB4wZo6Vnd2eD7LuwfucjjP1WpIHPJ
Z4ghvx1SckB0lBtw/j9SB0NyIV1xyXp4x44LNeDOHMWMt9jtiwL7PlncUGTy2kylwa1rljUUMqzF
birO37rmsOOd4Azb26G2w+i1mhKTHTza8ubhPXvrQgx+Xda8dA9ecW0ln4aebin+uBCvO5KTDfJH
/E7NrOyYko3Lz/4gJuBamdqDCTH8CcJT5D4O3q0xwdeGFx9LEOHtB3jlaeClCMXFJ6LbElaEFvhU
elvCYRXgQKqeNLGIqOQ0DvxtoqBqAV2i2idJvjfwNw+fCqTP+FZZONq538cVlqfNAqePJvCd1HTA
/kJqOlyOFAUdIO60XNNxVVxFB/ynSVEH/aDwjrqmQzcbVLSwn5R1AF9FWleRCE35eNTGWSba9H6F
sDo9rSdUeZHiOaaNnGOmP0FVZ7NpnWEO8+yzLI8fNA8x/ylmv8V82gHia03WE1Qn141T9YhiSE3A
bbXF8BN5s5Dwpjz9Ca/czKdOetbk0InVnbybvxp+NDn047p6nAoSjeLHeoVPBwmf2iftkSailp5b
34rhNwG39C/xqBKe9dPXSD1WatLxzKfsp/Cbeh5JPWM0GbfOzLE55TXRntqs0txMv4fR4t9NnNnK
OCpK2wvZymx/llkn1dT2o98Qn7kTvE417ETeBRPZy8j9bIoVrqIfSNhMMyn8i6r46mokKL5HWLpP
Qqij0GKN8VDFXCdbUIkRfUhVg0t6u+iGRW9vQt1dVLHV9H1eLo+FtLU7vsQHtUV7+6isl8er2lVp
Zq363XIFiVSVvLRHHecVeTFT9DQnxIsU9uE4TOESYu1pOPPn5DNVmT/7gT91E+BPCl9Yi1FPxCOW
kls5ibu2zLNq4vlOjGfiIfs4bAoMDqZjzd+LpVpYiR/bxNOH8fgh7m2aLLhpcDAl2ZUE2ueRD51s
rJIWmCSaPw7h/XGzYEzDBJ0rXjyMKn7snKB8JKOnyZyN8YilZFQkESOxX1UYeIZ7OZVqdnPCApqA
SGKDp2/Gw0/R72lNMj+Iz0VHpDr9mnEq9YsS28NplO7TLqVhXJoq/icS+mf+/5/DgGXhXaC9AMcu
YrndIbEkpSExc18X4w16185mYlJfBqpXYB9tBdCeya6J8YNu8tqF+wiloawrwV9bgWlfIWxTOKLK
B7JRORPIvlFbftrZN22KmZWUgQPuomhUyXHDAeJJTCgipzb0xo3IAa9lJLTDcvVy/YXIg4XAg+rx
M5CSLDxtTlyj2FDJuUi/TbCYYjw5SHgSmViUMhGbcTnzHQUnbcaYknCTeVRN8rQmlKWVhi9fHhxM
ZsgfsRKXebBNitVOOFI7Lt1PDQ5qE+zDsHF/m37aCOu/LsEyLNCm1hOzCtFZ2RYU/pCacH8PtgZN
sh3YGUjgAue25tcTSxXrhn7SXySMz57isAlKrR5TcAUfTpN3OsIadKmEUY113Y7UDOKH6omFasA8
khGrD+y+JJlXfGF5ACOHrsPnAJPNJUyx0WoLyEPxe0myHjEkbyWK7OycxFlEiv11PEE6GI+btlDl
p8BRtFFWAs9K8anXxDsJpjRkx2ku+KN4izFtr0H6viRjVi/2hQFbVuwLM+e/7wyTItVlks1iZiZG
dCfbO4bendpGXgn6v5RqmcycJGvfcafkbkX7pp+NhxI0sDwXB6W5mP3fz0XyTjbJqdgWixBMfhb2
xBMoz0G1eI4zmTkQnZVx+H7b4GB6hj8uOiwyn7dJfO75IviMMZwkb/cMDn4Opl6v+EF6qVfppOTZ
5zYm2tfj8fXBrHyDkdPnFJZVpOXvkZqp+QbOAH/oqHCVx/j8B8pOtVO9eCdxkTiLtJ/iSlzff8n4
73RiJyAHnIDQ5JhPR1ZONdr0hpJcV72nJjD57lRyH0rsV2WRDklpOremSv9Laua6NEHtpentSn87
RZ49PfYuPpeU9+r0HbNSYZR4HFmUqIe1e2ohlCpOkgn82USfpMrJTR4yf+JdnoLE5j2k3LGgoUBi
UC6uf8uV2aS8E+5Fy+BH4hH6HzDyr8OvrhMf4a0wQH4zvFDM8WOlXmKVWpxJ9MREwya+r1QOBp8D
L7bhF9tS9hnLBNg9+FUPvDiBe02N/R5gm3T1FEtuK1Cf36c5bpSyGJdpZaurc/TvTJWfTo/9aOwc
9TG9QawXT3e06VPhVKgB8A7xpJ7ekAjr26pDexHuKMB9D/zNpJ4VEZV/J9E3P1Yrr6Zok+S3jZ2B
sV4nNfYwllP1fUY17uuKJ9gnYSnW3X9NjRpNIRjrz2ADsDiHNL7nW+I+KWFnU/a/OOx6Ep0neuwf
MPYvYO924LGTrQY1toeVQWdL2Drixjsaz1Dc66qf+pnYqzgukq6s55iD8i3JG+hlcVVLC7H7ZZO/
vchsF7XJ6K1uS16tEi/Xw/gv0JdQBVhOtCAofoe42T0oA7JgGpweB3F7cgcHlQh40CKlKQgbHVbW
lefE8OiTIXH/GgJ+3QG2gEb/PYn/hsHBOMYPSDFH3B/nHHUl+mliryMpnyQuk0TS1R/RGaQXdjD+
Gy6NTtcSBktcLt7Ixxpex6EzelGK9td6qmVsGuqQegsGxYhbIn0ujY6BV4nK1zg4eGF878CkNoSj
X07ZTRDTivt43w37gI941xr0oRRx6YTm3qgqfgdI0eybfitJ8Yu9EX8FPoUDnyAn90ZM4eeoGyVu
jQea2DRxcbJtPwtsIbHXeO343cZdSRaQRv/x78bsnnFakY96Ekwfcqasl3o61ozb1ZFJNspS9Xnc
FUMobcvHZfHYSP0lxd4ViZjkoEn0lxSX88n49pJA6zTcl0Q3DHaeP0UndlVxXFxP9unKqZC6O/tQ
wtl8De5dqdtO2UjHtoTulbGhlT6WfKzyLq6jZW1S3YZe6h0fSIFzKiFR4/5YbCrUyCcJApEDqfdm
QTL+yWAUOjbHIMQTcv6vSTBiffALUtDic6cl5V9KHF1NSW584FzMebMROvKT6UgCoZDx09i1LnFU
VOLx9YbY+DEavCloECtX4hFHnuFhNcrCPfJ9MxhXE8HVk4yrqGcVBF8aHo7HTLhVukcQUfhytN8A
ToVqjNpiV/opa1lSOA8gJ8l1AfwqjYzV4ewBNL9BXv1QxPQNj85hdZnyUT/B+PXZ8NbNLBPvF6M+
BZyDEsbKoB4Z9zjAgP8Mo5G18+tEMjIYBt7UY1KEf1fqbFa7qeVfhKRXeT1+l4PKuVhN5XKxRipN
TWXsgDm5gvLV2BrTrplsiz9TFnMmb5Hq59PnTMZgJ2VIqrIJNXMiw+rz5F7YG8T7F8rT0atLVsHJ
dF+nWpPahI8a4xeouBeIPWyrx6M9WSMk8WCRal/SZsLo6eQ9SZx7qVYtzdyniOMmM+NEwlmgNkO2
pTojFeVh53i+KuZJioPJJKbUxWOThjHzE7GhKSPB5cRE5qd4/Pm5dELzczRxeshdIVEiq3n4NCAS
TZwXtRmF1re3IXCQ5dmAF0tHYOgbZ3fTXOIE4GtJrh+5CLCT692iRB5xlaQjdQtntb2GLldRV/2M
bKfVo/4kqk4JD4lmmqo+2kZqajUqatUnfgkFxZsUzzC5rDYv7ozxJfAPcT5tcjatevi4rs6MMnhc
Su0iZVwR94UE96LUuBcmeXkJFBQpjl4SBZ8l5n2JdBwkdOSnyApOBKWm5nuqKK2KmMp4GHKN83Kp
lrx4vGpyrbryxxQlPKxdYf6hooQ51UagT8ghD6TJIo+mzCdvTAFcI7OcS8gr0l1I7s8Sz3/lAilS
RJW6e4p8t5kjpJsrPGk3dw4eueeeI4MdFnuK4yyBvujSSy+a0RBlM0898tjjfqv63HMHZkoeTecr
Z1g6F6y/IqoS96d0iXVcOs06rnDEJ+WNiEdan1weDu9NfYJ1TUN438i2rZ/oDxw+fADNIefkry1f
nnR8tWzZ3rN7zj711NNvkIM+nXinDtjw+E6dygndqsPGCqm17tfxxQyF8W7aQaeS7YVykBMf6fCt
0ak8JiKJPctNqkKY5O7lcYnXOuI/yvcJNUzsRqEUDoIGD+aojIbxmCDsTbLtw2A7iP3aS7X5kIxN
Ij/Mqk0pBUNG/xgPWJaHmYQnkQnyJNlu0GJKRmIi0XjS8VYqG6KayMhOMc6hxZsU1kMic4oTjIcU
DNqSCj65FwrWDKkdnczNUCoLd0J3RL0cW0cTui3qO/FrifTph7VUTqR7gp36YziO17N/fWytTaB7
/4XxuIk8nAk8nDo5HopNM+JPMCbEzMUJLXQmxNHvpjrfEPm6H/jaPnG+pqixG4/BmQkHMRPg8iXJ
tR24124+ucdsKE0tbsrL4OMTGJUZInW5+1LU5Xavy9BgvkWeoX0XJxfpdpimVmnwn1NNUiVN7p7I
J3dP9I1Pi8ZEBANxdDSmoKOs25FyQrrIhK2ak0zCVKbYqzEl0qRNmVJN/zdyn8o7m5DcP5Cgcyck
92dT6T1R7ndOTu5T4D2e3Lcm6OUJyP2tqfDNgP1dvDevKPXNecmn4ol36Q2pdvG4a/UuT/LjaMoz
ppfuJqmfyO0kybu3xn0lt6s2ca2rS0ZfT/b7yb2BIGuku1Mq+lPs3IkMCCZITxwT6L+lzIPCd1q1
0X8EPtRNhA9Jqb9a17ZYlKCiJht+Gx9fjN2dGEzkgCfu5Fk+Bo4jfzb2FGcDExbiFwtl2j/ivbzw
e3LKHICXVNy9NLXSaaUnRmfSbQIJZ831dZ/ZLL0yqRUYVgUhuFjhQ68FRdy2r0mUfg0fNcMrhQc9
It9ng25R+qZp90FKV5rcGt8d6E9azbW0+gXpupKOpOX6xg3g94XT1VOmwSuu0vA6rYYlWrWHj6TA
SeydZBMr4jR5FZcWHd85aZty9qzNDF6uM5N5MAA8SFddWaiCF1/c2RgLXGiReaWS80xoWyjGPrVp
S05xi6fwmVgYQ7M91LuJuV4inQeBzrK0VaSJsOOo/VsssKFF7PwUOdYi3dfI3VrTUB7XrDWe6kvl
li3aRP8krkerXDv7LNCcjTWt9uzGwY2f35DSKUaL4mYVVB01ALTmSz3PKifU9SzmNKNI/Cp/IVVg
ZwKd0LiEfiHquumKCVVOa9RQr00V7Bm/mppL6N2Pc77xvbe1CVnW4oFQKm4xsRrFn8v51U5bHLe+
lFUSl+kdDtAarDpRphQn4nsE+slZbE0yLrFkizheqXDZLeFSZ2Y3znIpnBoRUVESPeqDiHDEmcip
G/NjZZKwRsm9u2AX5GLOjHPzboqEsXSX8SZ0gxzvbl76zVT+FbnrDPyrfHKLy3i3naVKaUt7AZoz
Hsfx7kOjM5J9KrkX3kyxZl+zF16q1O6kpnjV8fik6Yz3ciK35Fp6qSYxfXV5qswP7SJz5I1HK325
+ddS9RQQeVQj9xTQ5FJc69/knoGk2j0NV34T64dBi/cjy70g09yQHFOG2nclC/9RtE/ytclx3Zdp
8X450H0ErvYNczGFl/quuZUxfZd869zlCbkMIq3VYt9SbVqlmh1tOp8ZHExB3x+VOk+Rtm0iHG3a
xAyn1HR9d3AwBUG3YRAyHdL5pDYdqepMtIl6Ld5xSSYwVaGJTOtOERdtWlNEF1MT/rUEXzaZCXel
8KFi9wJnprwX2JPyPuDEm4DFjpJkvLEloCcepB/DWgIpAR2b7IMQFaEOP0RloKTdnBc9yLMGa152
RbXFuwqXJG5sd6xfGMry2lmDMc/X1Gvt6MIfT/fkXRcO2OgrLTYD19h4qd1rFx5csZE14TsszNM7
0Sr4ZOejXgvRD6S3vc5Hets3TKa7vTqfdIKd7v+t2M9pet7/TbbX9WL/PXq51H9v9hfTgU+dx/q5
u/GtVLW6mFxfPjQ1Rl827LEDur+DfGGbFVfnxlo4hPA6djMuOeDKIqditapC2N+ROzj8Y+rPp54l
DRyW7774dmLF7lP02EtS84Zh+4zVq2fYR+8hDRw+xX0d6GzJoF2pVmwGsRcG6AO5P2P3f9WhsXiC
3Ubfly3wKyfVdvQ5xSxfqu5tJcr2MJHt+snIdmyHmKBk71LdEKAp2U/HcJNl+15Jtmd+MbIda03x
uSW7T8X4SUq2TU0f7ol9B/Be7IndNPGu2C7cEhtnPsSEfPUl08X+2PWD9xxR+mMP3HP0oktr0dK2
W2qF+1pWXnSZ8OuY59TcKvbKXnL/Y4/LvbKX3if1yu5DT9cJf7iiT+ivOUS71XKvF/ttkf6PRVJX
3cl03IoJzvi9t9Td2SbShWtrnK1TOKYn5wk1+GaQycSwU2RbTSiEfYkqCjuh8PXo9Ym5WAVjeunO
6raJx66T8R0vdO1ShWonELYWEnLGEMmhvgr8REeqDGp1unRCfjS2GapoC9gM+3GvgxSOx7mE8y97
in6aMAb6CMbYScZItrcSzxJKU9ouFbQD8aQmIkVFxE9jpRWOpBgOotbQ+RSuETfIt30+PjhI54t2
Yg76lPqAfha0K4d/q1byHyjhk0/VwRlE9Yz1U2PwyptQ4RDrRvReYtOhfcnNhRBVAjTNITU1aStq
rtYq29mQIgZ5KW1CG8ldhC71bYSxhXx5ijiI6oZCLsEfEP36YdAfJeP79Uq3vHTu/Dyled64nvwb
8b1LRR/+FvDhyybiw8fuAkjrumcp+Izrtdvj8ZkUb5QJSMebWDbsBHgTd/Y9Sd7ENqO0vLlNwWcC
vInLgxF5UyP3ZRiHO2pvPR1/vkf89nF584HsveskvqwCvoSw9zUuZ+LiBml5c4DgMi5fcmO9Zyd2
10Gsp2py3IJTZDXtXQeqeywm0xcx1olaO4QTa305Xl9Edf9LRK2jxtCfUIN0v23sRtk/2VnhOdI0
tJtFRXKjUPL3uurkv9dV29nRrfjv6Vvi/j4HPU5dRXL+kyuDc2JnfGcTz/Iy4Xv7pO8lnhnuixUc
bIivYQB4Y8PUVdRC/L1o4veuUr7nS+oZBHgiVq6vSMI0qo36fg0iOuMpIrWyAIORYaBE7JikrkhM
CiDxFHcm0ZE5NowYQj/AKPp8MHzpQACP28Y2or30aVx5AQtShwdsQcWwMBnMo3Kk+0eJYYfbvYOO
0PjJcJuDXpSR+XAm/M8YfVAeo5GMIZ7WJwzA+MRnnzvQEBV/G/2+akSdTv0G/VIe/JexVxjGTOoo
movuwvZFIUk8RXOF80h/9OobbiC6sAB00J3AK4NYoSgqF73q8YrhYWSDH/vwsKm6pqZa+qEohiob
+0hvBbsY15/gnmjVpM8AhcQYluL6oTpwmPCFDXJO9zjvaR/L08KzRrvFRqNeRnhy1aqVK4d6e4cG
e3vRC+o3x1Rv6JM2i1E/egXHs0Y9fRUn/P3MGZSx+Mhi+D96Yey18G7sNfBnaOwzVEDuxU19I/gQ
cwL8Cem+W5ZJvuwbxsB36wbEMVLerIsC412aK8oDAzq4DtYG7FLRhKtUzaprUXPirznFa+oEctC/
le6MB8MzIG0SMw4e/MG5c+jVzVu2fPWrx4+TvRjdT31M/4rc/Ur6gmnf+/pKqttb6cwUl7KSe63v
AVv1VXw64Eq+LhYvtUDsylycUonhMpF9tR1t9f0BA2fhzJ6q7Ly8xlzeYOFol95zLQ5fXWhx0ltq
w7UNTSbGwvEFuRmZubyRsxjMm728l28xiTrlBPVvoN9P8j4k6DHHRs7mivjE1E5w3t3eW6qa22p3
TmmszTRzFqPF680pzyjNyQv4XQEmm95UVxUOH50zywOOAmdga6rz7sjN8mV73VnFQKsF3Uu9CbT6
sZZspxtUV+DykpdVV1hReA2OWt1tsWUGgpk2C2tH36kYqqi0kau58+pCxU1B2CvwGvQC/ucAf7yO
skQ/ICq7EYzXEwpgb8JLHs+9VVMUHY4W1bRfcIF5zx50YkXYYy8vLYf/dk/4JOzlc2trapJ4IqWA
J0+LsVhpJBgOXZWWJ840PME69yXkoARRBr1JMmhRRBDfjT32CnWMGsXrJTqBu7GfSroaG9/XPvYT
6izAwzVr/9V97S+nua4dy/XYS9QZ6hy2oqNfzH3tP9G+rp3Yyq9QHwNvyPqMTn59dqRanoSOF6kP
qE/x+ox+sevzcPrlKcoG9W+YKyKL0S9gfd6cRhTx+hz7EfUmzBmsT98k1mdWyuWJ1yfgfw7wl9an
d+Lrsyn18kziyRewPiMyT7BQJ/Fk7FPcTxT26l6wiIIJ19XmF0scklqy4ZckyVzdVYeRZBFHDslL
lHV34LTq9lrhXGkAG7/ZCGXj54D7zitUrUdfLLoHf/ogQg/C8z++o/QWHQUzmc/JtMLTVdconXZe
hLfWzFxOtKH1uI+CXkfqG3HXvrQ1js66sNR9NYJpAVzp1bh+zMYKza5sl4u3m9FL//vkk1cODgYO
zZhxaAap6TvMuTm6ePQDuaTMOvpr2sULd78vDBSVlGxd+NDChQ/BvPnRL8Fmuxl0V33c/hnLe9OD
1SAtWHH7j8ZUWxtiyi9lLBamzArKrRxeIavbkM/yLMuwxpoaIzzBm3z6Jgtv+ZKJZU1fgheHTdH5
8DlzOzwsWCC9YOZHxbsWv4NepD7BWrdQ7bu8qLrw4G3ljgNEVY7NRx+IdivSJbibRCDQ+28avE7T
w7SDdTE3vWjwWh30ifM/dDrQl/RGq8Mu/A896nFY9QQ2vovhIpyPQxK5RLtaUYVR1ZEatqkkZoEg
YezO5xjMdtq5BeN4S/fr+Ok/efgjN3Ghbu3+FXu7115usuv1WYD9CPxU4DfZ+I3oS2CCZqO3gfb8
eOqLDZLgFoXC0SJJ0NFsYMnbhCVZ7BiiObChTMJfOQ5lmkysnQsRLr13xGRj7YaHzNnmhwx21mZK
hNMaO8sIFFfK4XWD180YRP1JxrcTWDpECwKBgzI5TvgrhmMnYL58JAEOnpusMT21Y+x1EgtNisTu
iEVa16SoqfSAHV9OP4J7BaJgUgeiWMFIffy7uG5EK3/sAlUSd8T6Y/nFUvy0FLcc2S8cJGfPF6pO
XluUFzhDlfxeOtM9BjhVJJzpqrW+eK2hjHDCMe+UEqeDM9hDwcYGfNeA3/V91ZGvl3VwDiMPMJ28
cKGIkgRaysl9E2AXkHqiBOiqOnkJpMtT34DRUUAPhL1ixTkG2fn90orGBhmwn3WPfkZqzlGOxIv3
Wo7bWpV5uAfgTpnQPIzHCY0pUfOFx31gvp9uYtIwivCJfpfITcdEMdbmnga6MV4CmjIvNZDVZi6u
hfiYPgh72LIJnGhId62lycPG5IlHOXr5/EPztKOiJDqnc8nCFEnaxTurGxnGY8kzkvOQtIcgtpZo
Q/e6BRVJWdxlN1YH+WxXLlfEiOckon6rhT07D+jFd91QkbqIPRQw2p24lXMgZP/RcwsXPrcwen7v
3vN7q25E4RtuEF5B5x4Sbn/4YbRe1AkrYA3sIneJUijOzpakDNV9HR8e8a9aLLDr+d300GVGF+c0
H2fE/dDNieP0ATImwAN312oXryHl9Z5Y74pwu05la6/yrBsc2Rmds2pOFC0nB7iXc86hLVuGZvSs
KTO7OSdd2d69cXHj2p7uuuZs0mevbaRv2uo9A8vcTs5A6sM/pM303Tg2K196mmCsykZ3XNJMuWXH
yMU7bu3Gt1tZ6rfPmXusl3OYngENjJPp8Wt0+94VI5t24Fux7PMGph13cKzldQfOULGagd9NsBZ8
9IOi7V0Ub3sXyOfYAAvVO9ALTTjtsAm4JrzBORk0xeLg3MJrZ37j8Luuxqy72snB7v4K7+aEOWgW
4WM70OUAumqkGIn6/DAX1SvWr5yXALyWmMxEUOmmffs2zd6dp3dyTkv+nPahxUsGI30BjgeGNtN2
K6ohvH6npAm9sPPCXTt7u0wM53REauYumDcvu4BzcjoLCpltwPCfSHlObYCPC+bVj70oBaMGO7H8
ZL3kaEf43BXPr9uLatZddtmWPRf9J7rAbQEC2WjntzKWRx5Y3LetbSE6tX3rri1PfhVtLfBa/E5T
qfBOsEHYd9+cWVtW76FInESsTcjG/WzbdQ2q2eMNhM/3Ns+d2yw8hilBF3HOvPq21vo8UBoZy76+
dfnSUiIsVfN6e2cuuGgK7nilIzx1Ag1SpbeeWNIx6zwX5o9WTs1USdC3vn5Fe+OiLS9sWdTY/uCX
+vqv7m+6Z+GS40v4DSOdyz3VqxfCv9XVnuWdI3RGU1Nza2tz09/6+vvgX38y74ok+93rsZMplSXV
wSNdQDx2C4dQfhrenRVZJ9wisQ75gw3oGpl15Dz3HP1tgLeL2hebq2IjIy1GDKOdxnYWTwcDVbQo
VLiXmeilEq4AX4qr4NdGd+xAT10eLvozihxKR3yM+Jbx0lPqexdOLcrzBFtmlLVPby/L8jrderez
whcKuTvXNucumNVZEmkvoWmLGfV2V3lallubqzxOrw+WhsnM2hqyQpFIKNJd2tc8j/FmF7cUZVsz
GXBRPWuM1cU1vj76sSl1LVOM+baOcEXUyZkKcjyZngxPpSfXxrQuX1s9c1dFsHlxcxZndxiymN4V
ZdlZtinm+mxfIRBiY725kaJQtLl5XrPXow+G/CGrjeVN9lN2V6CxrEmU+cjYR3QFXUIZiE4Vmw4o
PQF2o13CTd3vX3vt+9dW/+H3v0f+m79808033/RlkN1i0msngHWpK5UuPX0huWvvTquFbMjoRzPJ
pXpbTLDneiV7CHfd+B3AxnpUilno4tVonALorjqyen3funV9aABrMOEQ5+hfv66/vyva4Ta5OQf6
xmVL+8PzG2sa84gOa1kcqZlSVtVcUQ7WgRHg5Y9tQn+m/ZPVo4bx9agjrR7NGNuBPgJeZeFOXEUJ
PlKiIj3ehIdtcnG8i+QQoilgi7uEVz9YCAPeiHt63OjAmvQlHryxBWgm5uPYJpoGuj6XHvVPXI9G
J6hHa0AXGGGfnYQeDWJdsHdXoi5Y1L+tbQF6ZOvWnZtPfQVtlvXou6BHrzoxZ8aWVReRcyHg7ytA
vxjfiNejOiLK2+L1aMvceS24m6dKi7bvWLn+jiVgVIMOLR37EI3CvueCGQtq6NB8UXF6pWd0xa8v
B/259bmtoD9XCu+D/swVHsf6c91I5zJP9coF8G9ltWcZ6E/X9mb49/ihvt7ePolfO4BfJZPRna40
/Noisks4IuvODNCdV8jswrUIKIIa0GbpvC5W4NRgZ09jT+00i5aJLjKiWseOIZuOxZm/EXssSGKQ
rUQ8ma3TV5oMrMOZV55jN9G0yZ5Tnud0sAbTyqvRnS+U6Rys02QLNUYW91/evzjSGLKZnKxDVybF
LY9RZ8TxnXZFRNsN4Sq9sjTPaI5P5wur0wHANSDHqH/oyA2qcixU6mFArOD6un/Y2LVYH61lbTa2
p4ft9tpcnC7MuWxe2/mPCY5uGOMJaQxyV0gsgOYgY7rtlp4eHGRci+st1lqWeG06qw0PdP4VzkWJ
MnoMNcIYdSBP8iZD7hmRhhLdWtm9ICeKxiBZOrj/B2p0sNN6reEaxsJxFqYmbJ3Wyzoc7HRTR3Nz
h2k6O8Xr6K71H8+OhDg3F4rmXxap6XZ4Hf2+/dnRnp5oxkFfPyXFmo+hJhEPLwYngZXwkRKNRLBe
mUsBo4RPwK8CCeB7p6lR6p3GLsIgD2ZgkNn7ff2AQXdN5LL8KMEqkn3cX9sN8j6Duhg9R1fA3lGK
c6xTnDKlPHqakXBqdGvCe9SXeIxkTnWulACfSnVCZUx5bPXceAgsmQgCiBoC+AUEfmrqE8/YkgkT
5xLTERDHoSZ0zpaMoHh+D/rgT4o+0DjvX6Y670cRXXXy38ef96v+PogyqKvQ7lhO11XDwyijmpzL
BEHXPgx7RTHp0CxpbHEzjsTsMWwJSGSFwKYLNCB3fnlbe3lvZ2u3K9t1wbLlG8ra2sp4k8fKNw0P
07r8hsLG4pKO0khjayv2PuatWDS7dqi6uNTr8lgtNudxuWcg+DjUMYDP4JwybyDqwk1aaQLjpj5k
K7HNGR42BdGvnE6hlD6Iv4XPkH+G5qLfJJ4h/0w8Q8Zr7CB6jL4L3wIhZ0fqcccUyXUKxZ2XkBTJ
qFQSLEeY0aaqeS0t1b1zequXzwRFsrPV6ATjo2bFTdW9c+GzTvhsU63BydnRz9qri/KrMgqC02p6
F+uHsBYaZJdaTJzTPrA+WOfPL5haNbXX2IbVW5t1AGwUp3g/+0H0Mn056Zwag59La1xYxdMy9lUo
uHU1gK+cnm1inFbeXDvnkUcWlFtsVifD5PZXwq+GL0TWq6+3EI3YrQtkWi2s1WmJ/vqNOs5hZS2s
P88wiH83ZDgoysfYP9Fv6OlUP4nFY05hqFo5du0IZCEWoE9uUiGF4zPWWzPdGbmZa33luWYb59AX
LMnZnFtaDc69nc8L2SuwncXlr1s+fcStc3Auc9Hatt7Ca+HT83klOR1ua7DY6uAYS1co2+hk7WZ3
b7AqBDZYU8PUVV11DNh6rjnNVbVt8JFYZw42yBSctVsU9KSu+1YWpphRbVNVgGOEr97u5DnXNozW
NvI4+1azm7NZ7r7LAhag6dbZ+LPt2+Hxm1/BzvZXAHIh/LxgxY0yfvlLzuU3vyB9ptR83A92zOes
+bhfqflwp635cIk1H3tZHtd87EpZ87FZrPlAlG7sI/Qh3U+6XwSVySpH2E4V803JPMcmOOUBTEg+
f6FAjNFBjMYNjrX9c2qt2Q7T1B0brnFn4M+cCDnxc4bn4PKuVS7GyfFs3Zyv590AH6JGlrdiFTVz
RqvNzrHs/L0YUbs1Ex63bqnOtcIMWxvvIkoMxzGnkdgtvj/IkSosmDJ0qbTSW/h9VSAwPowbS+h9
JD4GGBenjMb11xukbeD7NlHdsAfgjJ5Uvkyx0stb2tLBcPVhMyPmGiC3r128DtPoqotWIXwHg5e2
9bNDfZU5difHWJ2e0kq6ZWD4it21g1NaBg5nXp0TLCy3gS9qrm0VTpREIiW5oZKFnZGsm71zl70x
0pUXmrrGZXJxTqOls8xjztu4dNvgjPlTF/a1b15RdLiquKWwPo+1cU6DfynSN/cFeqsKSxpG38+v
vyu/YU7XdKl/xEckBsvhXG0xTRebJjxtQ45Qcpw+YRqkRoaE+ehYX+uBA/7qHI++B4dZxai9aioG
wl5XX+XLG0cWb0JT9vf0Pv2U0+8334oesqlj9/KM+Fn3n7JCZ/fuWSvjqfsI8Oyh5sIspEZtAgFk
NcJRFbUMvTqGM/jQWrFkmYBOmVbDM0n4a0eXJYLOKMTHzk9eA9paNClLxfSkDppooRbbcUtJpYFm
Bj1di+Hv4O6Scc00Zfx0fwD8Zn8BnE/CeoKMxyTgauzua3FILokEbZ5r00R/D2hqnRjPE7qJB5UW
39pMV3p7c1K/7zSMFw6rG35LvcAV3r8CeILUo1jD4gQkGj73rND3vG/meCfGE+ADnsDdCc0HvSsl
zvzEZ0aW/WnkzKovTtd/vsMreQegV39fC/P406sU28FEzrFi+wPpnU5/A/aHFdRaMS8A0CgmdhVx
JsGCisZMa6J5ZJNbDn02FMNmIFVIqIOiXl8sHCrFCIthV6lCdMmMyK4eF33DDCOrMw7uyipvufva
7UdbygtzXZ68ws7q+RUmuvvGjLzSnAzYda0VXUs6hg7m8ramPo/d5oFN9rOcnqhvDn0yEmprRy7/
5icLdCYLnX/1gtbo8qu3rZlW6Qpyzpx8r3NboK51hreqlFvQQhdm+TLtVtbRWNPUuXw6XZ5t83hs
eMcPMWXlzlCLOJ+hsQfRdvozHOH0yYnUkrdUikxMBu/UCefwU6mO9bk4o/n8Jz4nKWbBcc4H0Q7x
uy65CEsyOy9AJp2Ly2CEc/iJfuv8J2Yj7/TpWLMRO/2IGhjbQh3QNSTeVXEAJ11ku3Tu85fgcJ7u
OniUcoH3IAfMm1be4gNK0hj4GOhS8Fu+kRx/TZ0zRq+Vk8bsllHsCpDYC7qcOkt6oyrx18+XM0Zf
kiZpDOdC7qHOgI9VgnH9QnLG6MsTk8ZMpqn4VneLleR0Xkp9DLz5vDmd6O84aQxzSUoas1uknM49
1AdgT/8/yOmcOn5O5x7q3+R85YvK6exMkyCFczovpd4kMdzJ5XTeRpLGyFQk5HTuoc5JudGTzOnc
o53TqebJF5Azhv46Tk7nR8iBysT1GUlan4H4nM5z1DFUOtGczrdS5nTC41lU+9/ndJ4fL6fzI+oM
KvwCczo/Gyen8xz1MfDm8+Z0btLM6fyQ+gAF/h/kdD4/gZzOD6l/E5q+oJzOZ9PmL1KWsU+pN2HO
/OTseMLr06Gd0/khdQ7wn3xOJ58mp1PNky9gfa5KxxPxzu3n0WtAQS62TEWBki0wHyFGJ7YJ9bjR
82CKRReMbNw4sgg3zvhJz/Sbb5IvW8ru2vPh7nYwCJzCjuVLnnrq6dgdtM/Tt5DxS8aFECvoTAlr
RNWpWgMq+l18nZ4I/yCBXzMu/BRXmKbC43Ss15omHn9JLNSVcdlPcKkdnxcp+iClQuadhI63mhj9
Obl4WS/htIrgRCoZx+WQqn4wFTrrSNmgNhbvxWoXJykbsbrBVHB/oBTupZMNVdGeDH+AwB+f8rhj
v5QrwRjrMqKFAm2T24lId1p/BmuvNOmG7SQs1PfWFSvr8c/yDdtmFS7uRlKR/XeMknK1dtCswgXf
MscFy3GZ9kPiUpXl4FnCC9KJblw5iOsHmIofo0p9ueaEvKwqPDeIOOiGJXkg3RwmrC+84+OzVNEe
R8bFjH5AUSO/iOshKPJpA8GxeXz80vUNTYWj1hWW2oi2prrPEp8PfESfBDtvBryRcxR1GgcVCvLj
JzzW05adVWGTly80Mg4rx5ZOPXCguRknKXJT5o9s2jRSXdQ0qy1lliN6sezGqkJXftBVAgYcZ7dW
P/V0OR7EGgGaHOGecEeqvEZYJyVj79Cf0d+mekjkVt1PJRjX4gbMRLWrncB6u5wug7d5qQ0L+nvx
rObBnrZd9WXhQjNr4Q3l83r68gsao/fdettdd912dI6RMfOWkTsfefbZR068xHgCrcWznlnQtWvW
b9ua6+uaM4tKSuH3Jqa5t+WSkoK+RbfdcuzBk0ejYOFZmbYn0eb/efT+nPrGEn9FfVVBVx5Z81H0
LKx5cr9pEUEVT0UEjMhITIzksgQpKxXtHWy5+eayqdwVnYPVi9Zs2rRm8badS7Y2GZ1+tvryQ919
Tz9V6v7XlClNbbs/3HPBSuG9VSt6TBbOyVZLeg5gwr6DYTZPHGqqDSgdInfGb0Rp8UrR/E7G8yDB
s2nieKbYtNOhuU/ZvNNjeGfCBi7jt43gVzkZ/MhmmQ6nCwcH0yPziNhYTsbhDwSHxknMZWLhdVp0
MpWrotNj9QP1xdCA3v8HulM5FQAAAHjazZLPbtNAEMa/tfOniaLQwgWJCs2t7aHGzqFIkTi0OQNS
JXLi4tTb1Krbjey0USQegTMPwZlLzzwCRx6Bl+DLZlSSqFTihi17fjuzO/Pt7ALYNUMYLJ8EmbJB
F9+UAzTxQznEC/NMuYaueatcxxPzSblB/1flJvaClvIW6sEb5Rb5vXIbSXCn3EEnrCtvoxGK8g6a
4WtWN7UWRyOvZMEGu/iiHFDzd+UQR/ipXOMeXynX8dJ8VG7Q/1m5iXfmTnkL7SBRbpEHym2Mgg/K
HTwPfilvU/NT5R10wz0M4DDBHCVyjHGBKQT7OMMBbQ8x+9wjjThDkDKac7ZDxNExCr6ysrLyI0tr
aW/5zzgTAzeZl/n4Yir7ZwfSi5OejOaSTvOJi+S4KMQHKyltZctbm3HJCWst8jpf4ZSZxrghL7w4
ScvcFXJqxzdFyvFG+N7/R26fSR5L2V/ZLLywvqxX6Xvd68IOHxZ2eC9g6PtQ+enXLBH7EpFaDG1Z
5e5a4jiJ+P1j8sf2I/RX/sCEPShpM8avfOySPofzjePcaKrklaQyLdPMXqXlpbhzPa/Vri479ZDn
/7xUM/9GaxUXeTGbzaLlSlutN1bb8tc79huT3sqEeNptVgd43EQafS+2d+1d14Tee8cQegcnWRwn
xgYXTEIx2l15V7ZWclTiQi+h16Ndg6PfAUevR++9Hr33TuhwcI0bzciSwnf7fdb/3vgvb2b+GQnT
IH+/LMFy+D8/Lg0emIYqVKMGKaRRizpkkEU9GtCIJjSjBdMxQ8QvjxWwIlbCylgFq2I1rI41sCbW
wtpYB+tiPayPDbAhNsLG2ASbYjNsjlZsgS0xE1tha2yDbbEdtscO2BE7YWfsgl2xG3bHHmjDLMzG
HOSwJ9oxFx2Yh/noxF7oQjf2xj7oQS/60I99MYD9sAALsT8OwIE4CIM4GBqn4RIciyW4C+fiExyH
03AyzscVuBQn4TUcg7PwLb7DqTgPJ+ABvIVvcAGuxA/4Hj/iYlyNx/AIrkEeBZyBIp6AjkfxOJ7B
k3gKT+NTDOF5PIvncC1K+Bpn4iW8gBdRxudYihMxDAMjqMCEhQthYxFG4cCFDw+LMYbPMI5JTOAQ
HIZDcRsuwhE4HEfiKHyBL3E7q1jNGqaYZi3+g/+yjhlmWY9fCDawkU0km9nC6ZzB5bg8V+CKXIkr
cxWuip/wM1fj6lyDa3Itrs11uC7X4/rcgBtyI27MTbgp/omXuRk3Zyu34Jacya24NbfhttyO23MH
7sid8B7e587chbtyN+7OPdjGWZzNOcxxT7ZzLjtwHa7nPM5nJ/diF7u5N/dhD3vxL/wbH+BD9rGf
+3KA+3EBF3J/HsADeRAHeTA15llgkTqHWGKZBu7gMEdosoKP8DEtXE6bo1xEhy49+lzMMY5zAq/g
XbyON/Am3sGreJuTPISH8jAeziN4JI/i0bgBN+IW3IoHcRNuxkM4GvfjeFyFh3E37sGdPIbHcgmP
4/E8gSfyJJ7MU3gqT+PpPINn8jc8i2fzHJyCr3AZTsfZOIfn8jzci/v4W/6Ov+cf+Eeezwv4J17I
i3gxL+GlvIyX88/8C6/glbyKf+XVvIbX8jpezxt4I2/izbyFt/I2/o238w7eybt4N+/hvbyP9/MB
PsiH+DAf4aN8jI/zCT7Jp/g0n+GzfI5/5/N8gS/yJb7MV/gqX+PrfINv8i2+zXf4Lt/j+/yAH/Ij
fsxP+Ck/4+f8gkv5Jb/i1/yG3/I7fs8f+CP/wZ/4c9rKu6NaQU+3VbSCY1tpTdlUW97RF+spTZp0
m12yLX0krSmbnV0wnIJfGTL18WwhxpnZRdvTCgXd8jKFCKbmFLQgZVGZOSK/5qVzYUE9LJhTBXVp
Mrk4kR7BdC6UoSubyqmMujTZ9oSoUkJUe5yrFMH69oJdqWghKSVIdm4iTznG1XPzmlNdFo9Uh2eY
RT1lSJPuCGdihDPpUDMx1NJ1hJoNZad1zJtmDGfnJWoMx7h+flLVyDKk5Oi6ZWpW0SikOrWC7+kp
U5r6zqSfmSCpTrVApjTVnWL21aZ4pLpUvKXiu5LxVjK+S8VbaoEtbdR2PcceLetVOatUpVuldHc4
eTucfLeavC1NQ3fZt0qa41dMzfca7CRL9SgNjtLQk9TgJDX0KA2OMr0qypUm25tYRjexjH3JbF4y
W59K46kV6Qu21Au2tF9tqa+2tD+clR/Oql/Nypempt8xrFKNHzwb+peZoZ9k6f5w6/3w1Awk1I4l
8IIEnohxaqGa66Q0mYVxG09GsMa0rZJb2xaeplotPE6ZtkCdCtQimG7LKavpav26XVNzywrbMa7v
Ta6fmyC1orKpu+5waqDkaGJJxpQZUFLHpKkbKBq6o7uGWzc2hVILlOOENHVe2bDkxVM/qTu264/q
jmE79UO278TEWKxPkaxrjE/hBldsghUx3SiVvSjIMqwoSOY2rCGVQWxBhL2xaLzBK4uDNcWkgpgI
BVGMUBDFSAURkwqioEDBFKnO+Y6dsvyKEJJNLGPV0OBQjfgbNOTTrHIHvdpAbaun5dNCqbRCZWDr
pMIA1QbqFBDKpI9QJX2kIomkGukUKAlAxnYsrSLKtrbVySK2UFQbVJEgKBOAjKoTwDpZSKGgkvQL
Skk/VUtCVUw6ymoBypYnxA1htRY0V28c1Rxxa+lDnqRNkjoyKODNeXH8R3QvcmgJB2KXxmBEjzNI
Gv97esk3TFOv2HGOGdHQr9xccQ7MZd3kUOyW1a2iOAQhrkR4hmyoYrB1op2LSuoiX3c9w7aK9pia
bJM+XjC1SsSzeV+UCzMXbdPUwjUN8kjU4Ip8ptCgVngiXNbskGmLLlTOQQtJJJpmuEmrCCmueAu0
uprpzRRjedlCeYHKEpUFGpFIPYfj7Z+VkWc8XFex0DGtFZegGpcdIltW80RzB20Ss6BXItakGibi
jbJrEjRonTg26J84VjVRzFUnxcGynSLaLFUVdcuuGJb0D3QleaAswVuUtsRIs1S3zECgL5kjUJjM
oTQmR5TKZBKpMzGQ0uTOZDV5FYZYvjckbtbiC14ONGpTV2ToKy9IievDj7GQqLeIJOpOl7Apvt7D
BPIVJnFVYdBLa6oBU8q9ufSr+tlSLK4p/j6SvCX5XSRH/gcvPrtGAAAAAAAB//8AAnjaHcyxEUBA
AETR/UipUYgmnIiEfhwRtTiJIiw782detEJS5Wp9y1QqpxG0tMro6O1AsAdGe2K2F1Y7Eu2Nzd45
7JPLTiT75hEq/le9zvIQ6gAAAHjatVZbbFRVFF1rhmmhtNgHlFIqklobQghBYgwhpCIBI6WAaUw1
RsHS8rSdls60QFuQEDWI+EIFeckbFREVFREREStixVpAniIiKiISP/zwwxhxnX1vQWVKqoFMZu9z
zj13r3XPfh0QQALymAuWFUfDaI92WsH580iRIgIIaiWEOMTrWQft7YhEJKETrkEyUoqLy6KYVOJk
ZUlxZDxqSssmT0R9abiiHHMmVBWXYK4WirG+LFxdjo0SVdhc4cZbK6pKw9hRURUuR0OlW2mMODvN
kcnhCTgUqa6M4HjUrZ8Sk4Cxcf9rfV5OdjWZKZl0GZZuT9BkqsluJr3vSzfZxWSayQyTWSa7m+yM
nhiCfBTiHozDFFShFnMwDwuwBKuxAZuxDbvQiP04Jq5n8St+Z4AJTGUms9mb/TnQ4y5hPLjAmwej
dtoMNoq5dLsiX9f7eqGvt/v6F0+H+vi6xtd7PR3X19fLPB2f7uuW+U4PN/60p9v38nU/Xw/w9WBf
53v82q/0502+/sPTHQp8vczX5zydMMjXhb6eLn+NQg7v41tcy3Vcwx/5Eeq4nh/zRZTxjMYvcTdf
5ma+zS18hxv4Ol/hG/yJZ/kzz3ErN/E1vsmNfJXvymqOTjLevJyM63ED+iMPt2AwhpqfxmAs7kcJ
SjEeE1GO6ajHbJzASfnne97KMRzLSXyAZXxQ3miSf29Dgbw7CTV4SH5diU3YLo8e0Ttn8Zu82Um+
zJUn85jPIo5jmLV8hAv4gphu4S4E2MByxPET7uNiPqHn1Zrt4X4u4ZOopTzFT3mAS/kUIpymWSO/
5DI+jSina/YZD3K57FVwhmZ7eUiWn2ElazX7nIe5gs9yKus0a+IRruRzrKKihF/wKFdxISOcqVkz
j3E1FzHKWWL0PMqUE2nGyfEJobNjZGxC6OL4GJcQ0h0bYxJCV+PieISQYUwcixC6GQ/HIYRMY+EY
hNDdODj8ELKMgUN3uGFDNlxhurMwXGG6kzBcYbpz8HArDNnDrTRkD3eqIXu4VYbs4UYM2cONGrK+
WhGbatmbo19HeWIREuWR1cIKoJ++2ou/BkWgRd+FuGuJuAtxZnXBi7BUxZgXXy2R5cfUxUjS7vlC
SBAO0Y6TFZ8p+iWJSw764CYMUmwWKDbvlo1SVZFKRU0QwzGSH5oexQ9Mj+D7podxvunRfMx0AXfI
/gjOkxzN7ZLDuE1yJOdKDudOl2N8VLLA6mOK3gladXQVzGWMy8Uekq4OBqzeZVllbRm11EhX/by9
F5/pLcV30K+HAT3rdckejeTx5n/tTpfuid46gdb3x34zQ77M1tndjMFteje2lUzFRw76YoBqeMF/
tBPbYpaqaa5iaaA8Okr+/L82Y1vvobrWS/VskGrSHapJpVfAfmyknuqVzi95uF1xeS8moPKKYsVG
zVZ/9nyajzuVC5PUT+uvEm5sBjnK0pZ4KFI2T0EUszD3qnO4lI2Xaan+3ea6f2AHWK49UAU9ZveX
2JkcbIVvLpLVaxer+yxVl1mubrJCXWOVuoPXX7daF01WrKXJZhdlaVflWzdhdJct65vqk+qOiPuz
1iy7GgqbP2xzV1ltrsr8dw4JrvOou7salKPOHJCvMxjWnSmial+hyj5VVTzCqLpTnfvHfBZQjqVd
qOMJyof+qsVD9UtUrBYiyfh0EkofnUGiuGdb3Z2tWaFqnxuflpW7bPS4PwriRmVVkWZZ6g3v8Sue
5HGe4A/8ht/xW37NU9rVURE6FKt0t1uDtViH9brdNWC33hqCHjrhPepfjepVe9WXmtSDmtu6Zrdp
+yo7vQT7hs6+3X3qjwfUCw+q7x1WjzuqftbGtcvajXG6bV27rN1q1nAap3OGbkJ1rOdMzmrrWqt2
kxHimZY7nzwRUo3wb23WcxJ1gyxv5WSdTZffqZZTLi53XIzLvwBl1hzxeNrtnQuUVMWZx7/qmWGG
YZ5MD4O8RBiGNyLyGGAYjI4yAkZD5CGM7LohOVExMYYk5mwO6xNbzbpZfBBwIOHVqMNm5xBG49Uo
4JUASfpwvMQzJ6EBG+PsZm9MOtGbs2k3vb+q7hl6njwChiQ9df5dt++jbtX3/b+qr6rrA1EikitD
ZJyolbet+oLkSCZnJB4XfUXd+dl79DlJfOOajzxTCq5aPq/fPS+Imu3T96t8X7lvuW+F7x7fvT7P
tyIjMyM3Y1DGBJ+XUWU+F2XVZG3KOtrrul5353wh59Wc/TknekdyA30m9KnqsyFvd/6E/Jr8BYWZ
hVcXHe5b0Leq5Jg/z9/XX+tf3meCf5Xf8h/2v+0/6o+UDiqdVHpf6ZbSj/pNKttZ9mLZq2WHyo6W
vV/2Qf8J/Sv7Vw94aNChS4suWz78uyMiFaMqZlTU8rm0YiVYmnWUz+DIcSbtGlU56rVEGp055ntj
M8fOaE28uZZ6TRi7Eqweu6c1jcvlfYl01N933M3j7vDnaUxY4c/L2uSvbYej/uUaEz/nt1KR86r/
cAJt6YSWBG07mhvQaeIPrvinU3fRbvM5qX/pfW3YMOlI/oTSQW2oKduZiit9k/dM3lOYWfZiV5j6
1bJD0/aUHZ2+puRY2fut8OfNrKPdeaX36RKKDpcd0kjcOfOJmY0z36vqX7W66gdVr1UdqApVHZk1
bNbnZwVn7Z61b9bhWcc4+m3GhGpfdZFvRfUT1QdIb1efqH6v2q32qj+SApkWD8j0+GaZEW+UqnhQ
NsWDang8oEaAkWBKvFFN49x0sJDjxWAZ9ym5Qa6TDCmMN0txvFndTq4kg89LpTzekiy3kXJDMjPu
mrJvjUflfq49AB4ED4GHwRrwCODdspf8DfBmvKVDPUJt9ZgZj6pZYDZYyPnFgDqpjbxL18iiRhY1
sqhRWTyCFRRypRj44y7nQ+ZMhDMRzui6R8xz5h5zvZdpSWF8LWeClNEgA8TPlaD8sxRRuzE8MQlM
BtPjTXItLayNx2QB+DS4GdxCCQGuPwmeAk+DZ8A6sD7uyQbyZ0E92Ah06zfz3BawFWwD20EQPA9e
AA1gJ/g+2A2awIvgJWBR5ivgVfBD8Brv3wP2cc0G+8GPeM8B8oPkh8h/TP4T8p+Sh8gPg7fAEfA2
aAY/B0dBmHuOg3fAyXhE5YOCeEwhSVVEjjRVX/IScj/58Hi9Ko97aLBeVZCPJB9FPprrY8jHko8j
H08+gfxy8onkV5BPIr+SfDL5lHiTmoqWtPYryTUDrqH8a8EcUMs9C7lnEdcWky8hv4V8KblmRR35
Chi0NX5Q/YL7aYsKg2PgODgB3gERcBK8C34J3qPN/Vr5Dac9OByBvx789eCvB389+OvBXw/+ag1G
4K8Hfz3461HjCLWNqKtBDd+vI18GtK0UUrJLaTFKi1FajNJilBajtBilxSgpRkkxSopRQowSYpQQ
42kXNhbClvHY03RTikspLqW4lOJSikspLqWEqJNLSS4luZTkyofYzBRTN5e6uZQcomSXkkNI0UOC
HtLzqKdr+J5r6lkMFtCqpTw9FSwCS4D+Tn2QrSv/krSXtcgqiIV41G8tVuJJTdzGOmy5HvnMBzeB
BXzHdmURTy4h19aCxgRt0Z4g7QnSniDtCdKeIO0J0p7VWJOHNXlYk4c1eViThzXFsBwby7GxHBvL
sbEcG8uxZQd4HrwAGsBO8B/c/z3q0GgsycaSbCzJxpJsLMmWl6mPBV4Br4IfglZr2ks99nHPG+Q2
+Zvk+8mPgLdBM/g5OArC1O04eAecBB9iAfnItiBuYzUeVmNjNR5WY2M1nuqHDvqDAWAQUh0ChoJh
YAznxoEJYCKYBCYDbRnaKq4yPFuNZdjoM4h12Oh0NRYSNBYyjzK0hWjr0JZRZ/q9tYoeSj0KHgOP
g28CtKks8l9QBu3AWmysxcZabKzFxlpsrMXGWmysxcZabCkx/WdPfN6EBFI5PY1aTQep3F7Gd93/
+rTdGTvp1WaBWJi6jVFhBdBXruJKI7zyDDPvR58PgAfBQ+BhsAY8wp2b4dgWoFm6DWwHQfA8z70A
GsBO8H2wGzSBF8FLoGOvupcy9xl7iqB/bVMR9O+ifw/9e+jfQ/8e+td61jrW+vVMj6d7O93T6V5O
93C6d6uhVYwe6npj2Y3I3FP6WbiDzD1k7iFzD5l7yNxD5h4y95C5J6ORgIeltWBlLYxFLViRY2Qd
4PhJ8BR4GjwD1oH1pkUxWhSjRTFaFIPZIZgdYmxoYVxoYUxoYTxogb0tsLcF9rbA3haY2wJrW2Bs
C2xtoUUxWhSjRTFaFKNFMVoUg40hGNcCw/RY2lrLInQ1Bp5MAtPj9WbEvIVxVdf2Sc49BZ4Gz4B1
YL3pTwPUzqZ22pZsamNTG1s07/KNDWn70bZjM9qsYqRZxSiziv4tCLsC1MSGYQFqE6FvC9K3Benb
grAsQO1smLRO1xC+rzLjv+nnTP9aZrg1npbP7JFbun+NGk5oPmgufEgJw3nfCDDS9P/RZB8bMX0s
OsZvKkQCxaAcH2U8b68x/oMrcynhBsNo3atbvNXirRZvtXirxVst3npHt4zeYVjtwmoXVruw2oXV
Lqx2YbULq11YrUcEK8liK8liK8liFxa7sNiFxS4sduUYdToBIuBdM+a7sNqF1a7ymxHkDnodlxZa
hsnX8X2OYbS25XoY7cJoF0a7MNqF0S6MdmG0C6NdGO3CaBdGu8x10CmSsZFMBB+yWSp7lL+LF+Xh
RXl4UR5elJeqC/TQjB6a0UMzXof2OLS3oT0N7WVoDyNhf7fzvizNUp6I8kSUJ6KGuwn/9hbTkmZZ
afRWhL4Go8UhhiFr2/zAWtg8j2fmg0+Cm7j+KbCA83jOlBKUZbzpG/HXaVE9LaqnRfW0qJ4W1dOi
+uQI17W/uJnnt4CtYBvYDoLgecp/ATSAneB7pidrQOcN6LwBnTeg8wZGtXpsvxHbb8T2G7H9Rqwr
iHVpr7sePgSRXD18CCK9evgQhA8N8KEBPjTAhwb40CC/pfzfUacPzIi2NukHNiT9wIakH9iQ9AMb
GNUaGdUaGdWijGpBRrUgo1qQUS1EH9JIH9JIH9JIH9JIH9JIH9LIqKZ9vWByRAuipXq4VZ8yoml+
WYxoQUa0ICOa9vOCaGmVWhl/HYsOwrsG42XZPfAn0o4vV8OThJ02G058JqnvRjMLGMxdQ0A5/v54
Zkw19LVzQC2YTy92g/H/HXx/B327eDZhPJsI+tbjYhM1aKIGTdSgiRo0UYMmarAKvTro1UGvDnp1
0KuDXh1s2UG3Drp10K2Dbh306qBXB7066NVBrw56DaPXCHqNoNcIetWtakKfDi1rQp8OrWtCnw7+
vYN/76BXB7066NVBrw56deRXchO6jaHXGHrdLJ5cgl4ddOqgTwfdhdFdGN2F0V0Y3Wn/Xfvu2m/X
Prv217UUV6EzB0k2oTMHaa5CZw76cvBCwtqrREchdGShI4e+waFvcOgbHPoGh77BoW9w6Bsc+gaH
vsGhb3DkRtMnFyHNwTBvCKil5fON1MNIubkHKeuZVRgph5FyGCmHkXIYKYeRcBgJh5FwGAmHkW4Y
6YaRbhjphpGu28XMKobVxJJSDielHE5KOYx0w0g3jHTDSDeMdMNIMowkw0gy3K0vUGk8fT27CSel
F0Z6QaQXRnphGO4aH2El/Nxq/LOw0mWHwTFwHJwA74AIOAneBb+kDn2QnGu88S48aOOV6v6v2IyG
tnw+yfxTrB/DODeec5PIaxkt5pseLkwPF0b+FrPeg7Be68HuwX9fi2cSpQZRahClBlFqEKUG0WQP
Z6EjCx1Z6MhCRxY6stCRhY4sdGShIwsrsNCThZ4s9GShJws92ejJQU8OenLQk5P01a2kr24lfXUL
TyeKpxPF04ni6UTRl4W+LPRloS8LfVn4G1H8jSj+RhR/I2p6vQ/afPgo+rSQWBSdWkgtil4teryo
GggGg0vBZWbsX4s+raRPbqHPtejTogeLoVPbjJAryQNG8iF0aqFPC31a6NNCnxb6tNCnhT4t9Gmh
Twt9al3egk5fA3tgxlRQabx8lz7RpU90DWOY94rSY5jkm9HsWo5uNM9Gu/AFo5QVpZwoz0bNqJdl
PKN5yVHtRjMWuuZsM32dLsdYg9KrPMWSJ1W85zrT7/pllAzju14ZmZ9cHelmhUOtkE/oPlfP0HXZ
zDtNn8rRAuMZR2jDHt6m1538fBbRqgJzn16PWcq9dab+ibpMNX5oDFnEkEUMWcRoT4z5QwSvL8Ib
OrZcl11Cfx0zkqrrVjZeD35vQmat78gxEprHk58EN5qSo3gACQlryZ5aXWjVyZLkXXU96OZ079cl
5xudzWlbiYoZCe05tcJjJDTTsKVNQrLcaK0o6YENRrpD5BLGOU+Ym5nS9GzreuQ/N9miBck3LASU
JIu5dosMl6WgDtxKGZt5ZgvYCraB7SAIdoDnuljb2tXN+tbLZo2rg0x4xx6wj7JssB/o9S29tqXX
tU63pnUMnAARoNd99HqWXsvS61h6DWsQGAKGgmGgXPyqAowCU2W4qgQzpVDNArPBVZy/1sy24R7X
lgBkoZCFYXeA64+Cx8Dj4JvAQmY+431qu1JmZTJ1FdMzq5UWso7q9plVmUyz/lPLmQPJM8r073o9
93XmV80yw6y5NjM/acarfR2v9nW82teZG7nMjfQqWjNzIpc5kct8qJkarKKkL2JLis+o/LuxqwrT
859a65zGCFCZXPOcAfSqLnN3M5s7xZH266CGF4bbuq8IwcSQWeUJkD8JngJPg2fAOrAenM3a6A7w
3BmukSY4FIVDUTgUhUPRv+A6aahLjl24ddNAp3VTzdPTrZ3exnxuBTiX9dMLxaJTa4UB49F0nDF5
Zv3gwrLo4lpt//hYFDxHFgXOeRX+42DR+fmd5q+XRaG/eRY9KVkwJtfMazSbQrApBJtCsCkEm1Yn
2RSATfWwKXCGbGqGTdH0yPZ3NrJ9K90npUe2lN+WW9IMugj7ob9tBhW3/TZfzrdz3UuQ2VbKI+a3
ELfdb2HN7a67bU+c+k1W31OQUhOvxz0Sqfsj9JOXmVXdYqB/8Rlvdg5FYL5nfnmrMjuGIsndDZ1X
70/361tip0O0069wrTsdlpn1ksYzrkXkY69F80VRi46ycDtoxD3vtShu90vguf6Cc0endewK6pe6
lj05vZ59AdezrTNezy5Fz3pngGZaBJZpqdtI3UbqNlK3kbqN1G2kbsMyG2noXTh6B44NqyKwSv/a
b8OkCEzSO61syWfc1OOkZ1Z1l5qVXe3ReGYld6r5zcWjb/bolz36ZE/p63nmqbN54lQfuSfZqxaZ
tdw68+tRx3XcxHp99+u4Zt1e+rb1sh3XkJcm15HrzNiaWBWemly1T92Z1boa3F1JiVXhZWe4dt76
W0DQ/Bqauva4utOeSO3FtHow6b2RF/feyD9nTn1ftz5sqv+aZsDfLgP8Zt9f1Wn2sp7N3r8xXe4X
q2KMuNj2jI1PqWliJWkaZ3VtW1eQLoYa38bxCrM3Rtf6szLU+Hdn7+eGzptvV3BO8xY9qvZpezLl
9+h2o1dl22jlyhc77dcq53vqnq0aM5L9ZfZt7Ujv3epx79Zdp9Veesfdxae1BZ12adUwi0rs1PLM
Ti29SnWuu7V2/B3t2PpSj3uwahgPe5q3LmG+eCHmrjv+yuevY+IOmnTQpIMmHTTpoEnngu3T+orZ
z1FkZk31KXtIg+20OfW8aLQ+rdGz0Ohc442cm1bzOs5wjT+vfXntx2ufXPvc2t9O+taSg94C6C2A
3gLoLYDsAsgtgMwC1DEg+bDhQdige0oX7R9E+01o/mB3u/3p65uoSTnPdiz7YbAGPNLFey5pe4+O
Ouj4rkWws6foAh01oCMG9ifez/gSYXyJML5EGF8SsSzzKKN1J1IICTWb9ZxNxn9N3YnUnLJmo2cn
zWbNRu8/Oig+dS86+brZj/R1vS+Kz4NS0m5/YfFZ7jG8TT7Rbp9hMU/7zf621qdv7LkEs2ctZa+Z
3uslheb3mfbv727HWyx1vqnnaGat3bTErFfqbwf5dpBvB803T4rNvCgRixCVYsPaqGQiiSEdzqRE
sKqNjMX6iRYpNvFSLSYu96DZuc5cEc1YZqVtJm+t4rlZXLsfPAAeBA+Bh8Ea8AjYxP17yd8Ab1K/
4VjVCDASJFbfQmjSUjO4VgWqwamVuJDhg7YYuwMfUq2maz5kmL2erXFePnUIefzY8EL3LvpTs+UI
Z39mzv7MnP2ZPivTpDdJmDfk6Z11UkRpJTJIsqRcLuf7FTJLBkqNzINFN8gimShLZKnMkDq5lSt3
kWbLl2WVXCX3yxq5WgKyTmplvXyH+zbLTvkH2SUvyZ3ysrzFeB2W/5bH5X9I35Zfk9bLb0gbJEp6
Vn5PqpcPSRvlD/JH2SQfkbbIn0hblQ7i36Z8yifbVaYaLkhXjZD9aqQaKT9So9VsOaCuUdfKcTVH
zZGIul7Nk5NqoVoi76mlqk5+pf4Rfv9afQaG/0bdqe6UqLpH3SO/U19T98rv1TfUN+RDFVCPiafW
q3r5X7VJbZX/U9tJGeoVUqbao/aqLHVQHVLZKkTqrRx1ROWqZhLyy73X/PsDQ7C+++QJztynBqhx
qlrlqfnm83OU8KuM/8r0ZRZljcnalunLnpS9MtvK8efM7W33fis3L7f6z4g4bx9rfjFFmZ/P+PIL
F3GcjuRNR/KeSSRv9xG37WMk01GMF18UYzpi7WKKWDv3+JTzG4mSjjNJx5kk4kzax5Wce7TI2c86
/4z5IOzozRuLsAo/XC6T/rBlAH77IBmB3z5axuHHXymTZTq++Y3yKfm03CwL4cddeMN3iqqIGL91
sfzA96esmuzHejfnDSioK9hSsLtgH59HCt4DpMKhhUGdisYV7SquTKbVJaNKVpfsbkvvkT4oec/f
y9/fv7QtbfO/X5pZmtnvT5dIMi245KMBuwYc0Gng3IEPDdw1+O7Bd19aMfTuYVPL88qrh95dvrL8
rRFDR3xuxLYRu0bsGREacZSj9yukoqBiUMWGiufSETjpfcrpCJz0PuV0BE46AicdgZOOwEmPbOkI
nPTIlo7ASUfgpCNw0hE46QicdAROOgInHYHT9kT736Y6x+NkymLJVeWgAozS6/LpCJ10hE46Qicd
oZOO0ElH6FxUETpZUofWXgN7xK8qgf6ejttJx+2k43bScTvpuJ103E46yiMdt5OO2/k44nb6oPOe
/oel9v+70scTW5OOgjnbKJhTO+8vppiY9hEN5x4ho2Sx3C8PyIPykDwsayQgj8pj8rh8U/5VnpB/
k2/JWnlSnpKn5RlZJ+tlgzwr9bJRNsl3ZLNska2yTbYL/pG8IHhG0ii75PuyW5rkRXlJXmYWslfe
kDclLMflHTmpRPlUhspXhapYlSi/Gq5GqJFqipqmpqsaVauWqRUqoB5Vj6n1aoN6VtWrTeo76rtq
s9qitqrt6hXx9SnQe/KyKnMy0V8/kXgkXg+a4vDLJI/UTArIWfzFXbjU1XkPq+p4LtjFuUji7k7n
Q12X2+W7mnuqX2t9knlj4o0pd7R0eiaGFEJd1Ypzq0w7UmREiXZ8XZf3Rowcop3OU4eOret8V/t6
d5ZZ5/t6lEMQNJh3B81xPczXLbHPQL52V29MXgsnod8fM+U3Jc50bhm2C5Cuk/xeb2qiJR1FTla3
DHPPmAmnkUI7fkZJB8/s7vZc6unthj20sLXcrp7poPtPtNdBd0wwcWDt/woZReTMedPlfbEzv9fo
Kar7iLPqIbrtT5j9iGZLe0afjpGmxuGedKFr2e67dbo2tbeTdn2Dkgr1GT595kQGfWimZEkvyTb/
82+OOdtbck28o+AhiIlBSP0rYrzviwchaKtU97zJvzKO+3OthKOByXODwGC5MH+q7SgzmXymBa1J
QF4yFSRrnpr6dlGmbkFrEoPE32DaNdiU0ArF86nw0W6fkUrnvwzklIpM3pOAdEJWEr3Mk9ld4NTT
/ZKfOdS0FQn9lbUhF12koo+JZU0grxvko7cC2pvQfCtatX8K/U2Jnf/08/lG94lyEn96x33r5/n4
0//nxf3opZh3lJMKpYKkZAxJySSSkskkJVNJJTKN5JNKUobMIGXi7VYh61mkIqkh9cIfvg4ZzyHl
SC0pW65PRJGQSmUBKVtuJuXIIlIxXtNipLyElCtLSX2kjpQnt5L6UrtHqFWApPCe1vG5nqTwnjZS
h02kLLynHbz3OXymbDyml/h8mZQtlvyQMl8j5eE97eFzL6lQ9pF64Uu9wbEtOtbuTVKh7Cf1kh+R
lBwgZctB0f9rzyFStvyYpOQnpGz5KUlJiJQth0k58hYpR46QsuVtUrY0k7Ll56RsOUrKxnML89Qx
Uik+3HGOT5BK8ebe4ThCKpWTJCXvkkrx7fJFqQJVINl4eYUcF6kijotVMcd9VV+OS1QJx37l53ig
GiglapAaJMVqsBrM8RA1hONL1aUcD1VDOb5MXcbxMDWM4+FquPhUuSqX3ibO2acqVAXHOtrZp0ap
URyPVqMlQ41RYyRXjVVjOR6nxnE8Xo3neIKawPHl6nKOJ6qJHF+hruB4kprE8ZXqSo4nq8kcT1FT
JFNNVVOlDx7qNMlSlapS8vBVp3M8Q82QIjVTzZS+qkpVcTxLzeK4WlVzPFvN5viqRLyNulZ6qblq
Lq2Yp+bRioVqISUvUosoebFazPEStYTjpQou4QUvo/w6BaPUbcy68vGKV/B5u7pdCvCPTUxO8n9/
mWZsQLCAkcYGaJVcgQ30likwvo9hfCF8T3B9Duy8XubRd9wEjy8x3B1quHuZiVMfZlg7Cu9/nYyG
s5uwo82wdIaJVr/acLQWbr5FKTpmfbmJWb/TxKyvNDHrd5mY9S+YmPUvmpj1u+UPpC/JH0n3mMj1
L5vI9VUmcv0rJnL9qyoTZnxNlaLdNUavTxuNPmN0uc5o8dtGf+uN5jYYnT1rtMXsBk1sNDrYaqS/
TV2jrpHtRu5BE/W+w0S9P2ei3htM1Pt/mqj3XSbqfTcyDciL/w/XYqNdAHjaY2BgYGQAgmOp20+B
6NO3vpXCaABaKgjOAAA=) format('woff'), url('Bariol-Regular.ttf')  format('truetype'), url('Bariol-Regular.svg#Bariol-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


