body {
	background: #f5f5f5;
}

.cross {
	background-color: black;
	text-align: center;
	width: 20px;
	height: 20px;
	top:0;
	right:0;
	position:absolute;

	color: white;
	font-size: 10pt;
	font-family: sans-serif;
	font-weight: bold;
	border:0;
	padding:0;
	cursor: pointer;
}

.section {
	position:relative;
	float: left;
	display: block;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}

.onecol, .twocol, .threecol {
	float: left;
	background-color: white;
}

.onecol {width:100%;}
.twocol {width:50%;}
.threecol {width:33.3333333%;}

.onecol .inner,
.twocol .inner,
.threecol .inner
	{
	padding: 15px;
	border-right: solid 1px black;
}
.onecol:last-of-type .inner,
.twocol:last-of-type .inner,
.threecol:last-of-type .inner
	{border:0;}

img { /* Makes sure your images stay within their columns */
   max-width: 100%;
   width: auto;
   height: auto;
}