@media screen and (max-width: 1280px) { /*main*/

  .card-wrap {
    width:100%;
    padding: 0 20px 20px 0;
  }

  .wrapInner.topMini .col .innerCol,
  .wrapInner.mini .col .innerCol {
    width:calc(100% + 20px);
    padding:45px 0px 20px 0px;
  }
  .wrapInner.topMini .fullGrid-contain,
  .wrapInner.mini .fullGrid-contain {
    width:50%;
    padding:0 20px 20px 0;
  }

  .row .mobile-image,
  .mobile-video {
    display:block;
  }
  .image[data-mobile-hide="true"],
  .video[data-mobile-hide="true"] {
    display:none;
  }

  .image-header .page-down {display:none;}

  .arrow {
    padding:15px;
  }
  .arrow.left {
    left:65px;
  }
  .arrow.right {
    right:30px;
  }
  .button {
    line-height:1;
  }
  .collection li {
    width:50%;
    font-size:30px;
  }
  .mobile-nav {
    width:100%;
    left:-100%;
  }
  .mobile-nav.open {
    left:0;
  }

  .col .textCell .button-outer[align="left"],
  .col .textCell .button-outer[align="center"],
  .col .textCell .button-outer[align="right"] {text-align: left;}

  .col .textCell .accent-outer[align="center"],
  .col .textCell .accent-outer[align="left"],
  .col .textCell .accent-outer[align="right"]{text-align: center;}

  .col .textCell,
  .col .textCell p,
  .col .textCell h1,
  .col .textCell h2,
  .col .textCell h3 {
    /* text-align:left !important; */
  }

  h1 {
    font-size:25px;
    line-height:1;
  }
  h2 {
    font-size:15px;
  }

  .burger {
    width:35px;
    height:24px;
  }
  .burger span:nth-child(1) {
    top: 0px;
  }
  .burger span:nth-child(2),
  .burger span:nth-child(3) {
    top: 10px;
  }
  .burger span:nth-child(2) {
  }
  .burger span:nth-child(4) {
    top: 20px;
  }

  .static-button {
    font-size:14px;
    padding:2px 10px 5px 55px;
  }
  .static-button img {
    height:17px;
    left:5px;
  }
  .mobile_hide {display:none;}
  .wrap {width:100%;}
  .wrap[data-pad="false"] .wrapInner {
    padding-bottom:0px;
  }
  .grid-contain {width:100%;}
  .grid-item{
    width:100%;
    padding:30px;
  }

  .page .offset {
  	height:65px;
  }

  .nav.compact {
    top:-5px;
  }
  .nav {
    height:65px;
  }
  .nav .wrap {
    height:calc(100% - 5px);
  }
  .mini-nav {
    height:5px;
  }
  .mini-nav .icon.mini.__left {
    margin:0;
    left:50%;
    top:50%;
    font-size:22px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  .mini-nav .icon.mini span {
    display:block;
    text-align: center;
  }
  .mini-nav .wrap {
    box-sizing: border-box;
    padding:0 5px;
    height:100%;
  }
  .mini-nav .blue-nav {
    height:40px;
  }
  .mini-nav .orange-nav {
    box-sizing: border-box;
    display:block;
    height:30px;
  }
  .mini-nav .orange-nav .icon.mini {font-size:24px;}

  .burger {display:block;}
  .main-nav {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding:0 20px;
  }
  .main-nav .mobile-phone {display:block;}
  .nav-menu {
    display:none;
  }
  a.inline {float:none;}
  .logo {
    width:180px;
    height:50px;
    left:0;
    right:auto;
    top:50%;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
  }

  .slider-wrap .wrapInner {
    width:100%;
  }
  .slider-wrap .panel {
    width:100%;
    height:auto;
    float:left;
    padding:0;
    margin-bottom:10px;
  }
  .slider-wrap .panel-inner {
    width:70%;
    margin:0 auto;
  }

  .col .image-header .bgrnd-img .bgrnd-img-desktop {display:none;}
  .col .image-header .bgrnd-img .bgrnd-img-mobile {display:block;}

  .image-header[data-height="half"] {
    /* margin-top:0px; */
    /* height:200px; */
  }
  .image-header .button {
    font-size:14px;
    height:32px;
  }

  .image-header[data-height="full"] .float {
    /* bottom: 130px; */
    /* width: calc(100% - 30px); */
    /* position: absolute; */
  }
  .image-header[data-height="half"] .float {
    /* width: calc(100% - 30px); */
  }
  .image-header[data-height="half"] .float h1 {
    font-size:40px;
  }


  .image-header .text {
    font-size:25px;
  }
  .image-header .wrap {
    /* top:auto; */
    /* transform:translateY(0); */
    /* -ms-transform:translateY(0); */
    /* -webkit-transform:translateY(0); */
    /* position:relative; */
    /* height:100%; */
  }

  .row {
    display:block;
  }
  .row.b_full,
  .row.b_left,
  .row.b_right,
  .row.b_both {
    background-size: 0;
  }
  .row .mobile-image {
    display:block;
  }
  .row .col,
  .row._1 .col,
  .row._2 .col,
  .row._3 .col,
  .row._4 .col {
    width:100%;
    display:inline-block;
  }
  .custom_col {
    width:100% !important;
  }

  .row.m_2 .col {
    width:50%;
  }
  .row.m_2 .col h1 {font-size:18px;}
  .row.m_3 .col {
    width:33.333333%;
  }
  .row.m_3 .col .title h1 {
    font-size:14px;
  }

  .row.m_3 .wrapInner.box .col .innerCol {
    padding: 5px 5px;
  }

  .col .innerCol {
    padding: 30px;
  }

  .row .wrap {
    display:block;
    box-sizing: border-box;
    /*overflow: hidden;*/
    padding:0 15px 0 15px;
  }
  .row .wrap[data-pad="false"]{
    padding:0;
  }
  .row.heading .textCell {
    padding:10px;
    border-radius: 0;
  }
  .row.heading .textCell h1 {
    font-size:35px;
  }
  .row.heading .videoThumb {
    width: 70%;
    border:solid 6px white;
  }
  .row.heading .wrap {
    padding:0;
  }
  .wrapInner {
    width:100%;
    margin-left: 0px;
    padding-bottom:15px;
    text-align: center;
  }
  .row:last-of-type .wrapInner {
    /* padding-bottom: 0px; */
  }
  .col.m_center .innerCol {
    position:relative;
    top:50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .col .videoThumb {
    max-width:100%;
    width:100%;
  }

  .col .squareImg.circle,
  a.box .image.circle:before {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
  }

  .col .squareImg.circle:after {
    padding-bottom:50%;
  }
  .image-inline .inline-row {
    display:block;
  }
  .image-inline .title {
    padding:0;
    width:100%;
    text-align: center;
  }
  .image-inline .img-wrap {
    display:inline-block;
  }
  .fullImg .title {
    padding:4px 4px 0 4px;
  }
  .row.service_buttons img {
    width:100%;
  }
  .image-icon .the-image {
    width:40%;
    height:40%;
  }
  .image-icon .title:after {
    top:-8px;
  }

  .col .card-contain:last-of-type {
    margin-bottom:0;
  }
  .row._nowrap .col > .textCell {
    padding:40px;
  }
  .row._nowrap .col > .button-outer {
    box-sizing: border-box;
    padding:0px 40px 40px 40px;
  }
  .row .col .innerCol.topbot {
    padding:0;
  }
  .row .col:first-of-type .innerCol.topbot {
    padding-top:20px;
  }
  .row .col:last-of-type .innerCol.topbot {
    padding-bottom:20px;
  }

  .footer {
    padding:0;
  }
  .footer-table {
    display: block;
  }
  .footer-main {
    padding:10px 0 0 0;
  }
  .footer .wrap {
    box-sizing: border-box;
    padding:20px;
  }
  .footer-logo {
    width:100%;
    max-width: 300px;
  }
  .footer-left,
  .footer-right {
    width:100%;
    float:left;
  }
  .footer-right {
    padding-top:20px;
  }
  .footer-left > * {
    margin:0 auto;
  }
  .footer-right > * {
    float:none;
    text-align:center;
    margin:0 auto;
  }

  .item-slider .testimonial-image {
    display:block;
    width:100%;
    height:auto;
  }
  .item-slider .testimonial-image:after {
    content:'';
    display:block;
    padding-bottom:100%;
  }
  .item-slider .testimonial-text-cont {
    display:block;
    width:100%;
    padding:20px 0 0 0;
  }
  .item-slider .inner-content {
    display:block;
  }
  .item-slider {
    padding: 50px 50px 80px 50px;
  }


}

@media screen and (max-width: 800px) and (max-height: 550px){
  .slider-wrap .panel-inner {
    padding:10px;
    width: 40%;
  }
  .slider-wrap .button {
    font-size: 14px;
    height:35px;
  }
  .homepage .dot-nav {
    left:20px;
    bottom:auto;
    top:50%;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
  }
  .button-scroll {
    font-size:16px;
    padding: 5px 40px 5px 10px;
    left:auto;
    bottom:auto;
    right:20px;
    top:50%;

    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
  }
  .wrapInner {
    padding-bottom:0;
  }
  .wrapInner .panel:last-of-type {
    margin-bottom:0;
  }
}













/* */
