.elementor-3705 .elementor-element.elementor-element-1aa8e61b > .elementor-element-populated{padding:25px 0px 25px 0px;}.elementor-3705 .elementor-element.elementor-element-9eb48f5{text-align:left;}.elementor-3705 .elementor-element.elementor-element-9eb48f5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 100px;}.elementor-3705 .elementor-element.elementor-element-19fc7cbd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:10px 100px 10px 100px;}@media(max-width:767px){.elementor-3705 .elementor-element.elementor-element-19fc7cbd > .elementor-widget-container{margin:5px 5px 5px 5px;}}/* Start custom CSS for text-editor, class: .elementor-element-19fc7cbd */.elementor-3705 .elementor-element.elementor-element-19fc7cbd a {
    border-bottom: 2px solid #000;
    line-height: 1.2;
}/* End custom CSS */