/*
Theme Name: Brand Personalities
Description: Mar 2018
Version: 1
Author: White River Design
*/

@font-face {
  font-family: 'Bariol';
  src: url('fonts/Bariol-Light/Bariol-Light.eot');
  src: url('fonts/Bariol-Light/Bariol-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Bariol-Light/Bariol-Light.woff') format('woff'),
      url('fonts/Bariol-Light/Bariol-Light.ttf')  format('truetype'),
      url('fonts/Bariol-Light/Bariol-Light.svg#svgFontName') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bariol';
  src: url('fonts/BariolThin-Italic/BariolThin-Italic.eot');
  src: url('fonts/BariolThin-Italic/BariolThin-Italic.eot?#iefix') format('embedded-opentype'),
      url('fonts/BariolThin-Italic/BariolThin-Italic.woff') format('woff'),
      url('fonts/BariolThin-Italic/BariolThin-Italic.ttf')  format('truetype'),
      url('fonts/BariolThin-Italic/BariolThin-Italic.svg#BariolThinItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Bariol';
  src: url('fonts/Bariol-Regular/Bariol-Regular.eot');
  src: url('fonts/Bariol-Regular/Bariol-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/Bariol-Regular/Bariol-Regular.woff') format('woff'),
      url('fonts/Bariol-Regular/Bariol-Regular.ttf')  format('truetype'),
      url('fonts/Bariol-Regular/Bariol-Regular.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bariol';
  src: url('fonts/Bariol-Bold/Bariol-Bold.eot');
  src: url('fonts/Bariol-Bold/Bariol-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Bariol-Bold/Bariol-Bold.woff') format('woff'),
      url('fonts/Bariol-Bold/Bariol-Bold.ttf')  format('truetype'),
      url('fonts/Bariol-Bold/Bariol-Bold.svg#svgFontName') format('svg');
  font-weight: 700;
  font-style: normal;
}

._anchor {
  display: block;
  position: relative;
  top: -68px;
  visibility: hidden;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

* {
	outline:0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {text-decoration: none; border: 0px}

body {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  /*background-color:#e8e8e8;*/
  background-color:white;
  font-family: 'Bariol';
  font-size:19px;
  font-weight:normal;
}
body, html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, p {
  padding:0;
  margin:0;
  line-height: 1.3;
  font-weight: normal;
}
h1, h2, h3 {
  /*text-transform: uppercase;*/
}
h1 + p,
h2 + p,
h3 + p {
  margin-top:20px;
}
h1 + h2 {
  margin-top:10px;
}
p {
  margin-bottom:20px;
	color:#000000;
}
.text p:last-child {
  margin-bottom:0px;
}
.textCell {
  color:#000000;
}

a, a:active, a:visited {
  text-decoration: none;
  color:inherit;
  display: inline-block;
}

.text a, .text a:active, .text a:visited {
  position:relative;
  display: inline-block;
  color:black;
  font-weight: 700;
  text-decoration: none;
}
.text a:hover::after {
  width:100%;
}
.text a:after {
  position:absolute;
  bottom:0;
  content:'';
  display:block;
  width:0%;
  height:2px;
  background-color:black;

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

#blackout {
  display:none;
  width:100%;
  height:100%;
  z-index:999;
  position: fixed;
  background-color:rgba(0,0,0,0.7);
}

#content {
  width:100%;
  height:auto;
  overflow:hidden;
  float:left;
}

.wrap {
  position:relative;
  width:1280px;
  margin:0 auto;
  height:inherit;
  /*overflow:hidden;*/
}
.wrapInner {
  width:100%;
  /* width:calc(100% + 20px); */
  /* margin-left: -20px; */
  display:table;
  table-layout: fixed;
}
.wrapInner.box {
	width:100%;
}
.col .innerCol {
  box-sizing: border-box;
  width:100%;
  padding:60px;
  overflow:auto;
}
.col .innerCol.top {
  padding-right:0;
  padding-left:0;
  padding-bottom:0;
}
.col .innerCol.topbot {
  padding-right:0;
  padding-left:0;
}
.wrapInner.mini {
  width:calc(100% + 20px);
}
.wrapInner.mini .col .innerCol {
  padding: 20px 20px 0 0;
}
.wrapInner.box .col .innerCol {
	padding:20px 30px;
}
.page {
  flex: 1;
  overflow:hidden;

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
.page .offset {
	width:100%;
  height:90px;
}

a.inline {
  float:left;
  height:100%;
}

nav, .topnav {
	height:100%;
  text-align: left;
}

.nav {
  font-family: 'Bariol';
  top:0;
  position:fixed;
  z-index:200;
  height:auto;
  width:100%;
  box-sizing: border-box;
  /* border-bottom:solid 1px black; */
  background-color:white;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
.nav.compact {
  top:-10px;
}
.nav.compact:after {
  content:'';
  position:absolute;
  width:100%;
  height:4px;
  /* background-color: rgba(0,0,0,0.2); */
}
.nav .wrap {
  overflow:visible;
}

.mini-nav {
  position:relative;
  width:100%;
  height:10px;
  background-color:black;
  text-align: right;
  color:white;
}
.mini-nav.text a {
	margin-top:2px;
	padding-bottom:2px;
	color:white;
  font-weight: normal;
}
.mini-nav .icon.mini {font-size:30px;padding-left:28px;}
.mini-nav .icon.mini.__left {
  float:left;padding:0;margin-top:2px;
}
.mini-nav .icon.mini:before {font-size:20px;}
.mini-nav .icon.mini span {font-size:10px; font-family: 'Bariol';}
.mini-nav a:after {background-color:white;}
.mini-nav .wrap {
  line-height: 1;
  height:auto;
  position:relative;
  top:50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
}

.nav.compact .main-nav {
  /* height:100px; */
}
.nav.compact .logo {
  /* width:100px; */
}

.main-nav {
  position:relative;
  width:100%;
  height:80px;
}

.main-nav .mobile-phone {
  display:none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left:5%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  color: #FD8D23;
}
.main-nav .mobile-phone .icon.mini {
  color:#FD8D23;
  font-size:18px;
  padding: 0 0 0 22px
}
.main-nav .mobile-phone .icon:before {
  color:#FD8D23;
  font-size:18px;
}

.logo {
  float:left;
  box-sizing: border-box;
  position:relative;
  top:50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);


  background-image:url('img/logo.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width:260px;
  height:70px;
}

.nav-menu {
  position: relative;
  box-sizing: border-box;
  float:left;
  height:100%;
  margin-left:25px;
  padding-left:15px;
  /*border-left:solid 2px rgba(123,123,123,1);*/
  z-index:99;
}

.nav-menu a {
  padding:0 15px;
  margin:0;
  color:inherit;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}

.nav-menu ul {
  position: relative;
  list-style-type: none;
  padding:0;
  margin:0;
}
.nav-menu ul#menu-main {
  width:auto;
  float:left;
  position:relative;
  height:40px;
  top:50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  margin-top:2px;
}
/*first level*/
.nav-menu li.current-menu-item {
  color:black;
}
.nav-menu ul li {
  text-transform: uppercase;
  cursor: pointer;
  padding:0;
  margin:0;
  float:left;
  height:100%;
  display:table;
  position:relative;
  font-size: 15px;
  font-weight:700;
  color:#a3a3a3;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.nav-menu ul li:
.nav-menu ul li:after {
  content:'';
  display:block;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);

  width:0px;
  height:0px;
  border-radius: 99px;
  background-color:black;

  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.nav-menu ul li:hover {
  color: black;
}

.nav-menu ul li:hover::after {
  width:7px;
  height:7px;
}

.nav-menu ul li.menu-item-has-children:hover::after {
  width:0;
  height:0;
  border-radius: 0;
  background-color:transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #a3a3a3;
}

/*second level*/
.nav-menu ul li:hover > ul {
	opacity:1;
	left:50%;
  transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
}
.nav-menu ul li ul {
	opacity:0;
	left:-999999px;
  box-sizing: border-box;
  /*white-space: nowrap;*/
  position:absolute;
  z-index: 999;
  /*left:0;*/
  top:100%;
  background-color:white;
  border:solid 1px #a3a3a3;
  padding:10px 10px;
  border-radius: 10px;

	transition:opacity .25s ease-in-out;
	-moz-transition:opacity .25s ease-in-out;
	-webkit-transition:opacity .25s ease-in-out;
}
.nav-menu ul ul li {
  box-sizing: border-box;
  border:0;
  font-size:14px;
  font-weight:400;
  border-radius:0;
  width:100%;
  color:#a3a3a3;
	text-align: center;
}
.nav-menu ul ul li a {
	box-sizing: border-box;
	width:100%;
  padding: 5px 10px;
  white-space: nowrap;
}
.nav-menu ul ul li:after {
  display:none;
}
.nav-menu ul ul li:hover {color:black;}
/*.nav-menu ul ul li:first-of-type {border-radius: 4px 4px 0 0;}*/
/*.nav-menu ul ul li:last-of-type {border-radius: 0 0 4px 4px;}*/

/*--- MOBILE NAV ---*/
.nav.compact .burger-cont {
  /* background-color:rgba(0,0,0,0.5); */
  background-color:transparent;
}
.burger-cont {
  height:100%;
  width:60px;
  position:absolute;
  right:10px;
  top:50%;
  transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
}

.burger {
  position: absolute;
  display:none;
  cursor:pointer;
  z-index:9999;
  width: 45px;
  height: 29px;

  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);

  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
}
.burger.open {
  top:calc(10px + 20px);
  right:10px;
  position:absolute;
}
.burger span {
  display: block;
  position: absolute;
  height:4px;
  width: 100%;
  background: black;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.burger span:nth-child(1) {
  top: 0px;
}
.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 13px;
}
.burger span:nth-child(4) {
  top: 26px;
}
.burger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.burger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-nav .expand {
  width:20px;
  height:20px;
  font-size:20px;
  color:#a3a3a3;
  position:absolute;
  top:50%;
  right:0;
  transform:translateY(-50%) rotate(0deg);
  -ms-transform:translateY(-50%) rotate(0deg);
  -webkit-transform:translateY(-50%) rotate(0deg);

  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
}
.mobile-nav .expand.open {
  transform:translateY(-50%) rotate(45deg);
  -ms-transform:translateY(-50%) rotate(45deg);
  -webkit-transform:translateY(-50%) rotate(45deg);
}
.expand:before {
  font-family: 'FontAwesome';
  content:'\f055';
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}


.mobile-nav .highlight {
  color:#FD9827;
}
.mobile-nav {
  display:block;
	list-style-type: none;
	box-sizing: border-box;
	position:fixed;
	margin:0;
	width:410px;
  left:-410px;
	height:calc(100% - 60px);
  z-index:99;
  bottom:0;
  overflow-y: auto;
	color:white;
  background-color:white;
  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;

}
.mobile-nav.open {left:0;}
.mobile-nav-inner {
  box-sizing: border-box;
  padding: 50px 50px 50px 50px;
  position:relative;
  width:100%;
}

.mobile-nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
.mobile-nav li.current-menu-item {
  font-weight: 700;
}
.mobile-nav li {
  position:relative;
  font-family: 'Bariol';
	font-size: 25px;
}
.mobile-nav li a {
	position:relative;
	margin-bottom: 10px;
	width:100%;
  color:black;
}
.mobile-nav .block {
	width: 100%;
	float:left;
	text-align: center;
}

/*--SECOND LEVEL--*/
.mobile-nav li ul {
	display:none;
	margin-bottom:15px;
  padding-left:20px;
}
.mobile-nav li ul li {
	position:relative;
	/* left:-100%; */
}

/*--- PAGE LAYOUT ---*/

.row {
  position:relative;
  display:table;
  table-layout:fixed;
  float:left;
  width:100%;
  min-height:20px;
	background-size: cover;
	background-position:center center;
	background-repeat: no-repeat;
}
.row.b_full {
  background-size: cover;
  background-position: center center;
}
.row.b_left {
  background-size: 50%;
  background-position: left center;
}
.row.b_right {
  background-size: 50%;
  background-position: right center;
}
.row.b_both {
  background-size: 50%, 50%;
  background-position: left center, right center;
}
.row .mobile-image {
  display:none;
  width:100%;
}
.row .wrap {display:table; table-layout:fixed;}
.row._1 .col {width:100%;}
.row._2 .col {width:50%;}
.row._3 .col {width:33.333333%;}
.row._4 .col {width:25%;}
.col {
  position:relative;
  display:table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  width:100%;
  min-height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color:lightblue;*/
}
.row[data-animate="expand"] .col:hover {
  transform:scale(1.2);
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
}
.col img {
  display:block;
  max-width:100%;
  width: 100%;
}

a.box {
  width:100%;
}

a.box .image:before {
  cursor: pointer;
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);

  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

/*a.box .image:hover::before {
  background-color:rgba(0,0,0,0.8);
}*/

.col .image .button {
  color:white;
  font-weight: 700;
  font-size:25px;
  border:0;
  background-color:rgba(255,255,255,0.8);
  color:black;
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  width:auto;
  text-align: center;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}
/* .col .image {
  cursor:pointer;
} */
.col .image:hover > .button {
  background-color:black;
  color:white;
}

.row.service_buttons img {
  margin:0 auto;
  width:80%;
}

.row.service_buttons .fullImg .title h1 {
  font-size:18px;
}

.fullImg {
  position:relative;
  float:left;
  margin-bottom:18px;
  width:100%;
}
.fullImg img {
  max-width: 100%;
  width:auto;
  margin:0 auto;
  float:left
}
.col .fullImg:last-of-type {
  margin-bottom:0;
}
.fullImg .title {
  line-height:1;
  box-sizing: border-box;
  padding: 20px 0 0 0;
  text-align: center;
}
.fullImg .title h1 {font-size:20px;}
.bgrndImg {
  position:absolute;
  z-index: -5;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.image-caption {
  box-sizing: border-box;
  text-transform: uppercase;
  color:#000000;
  text-align: center;
  width:100%;
  padding:20px 0;
}
.squareImg {
  position:relative;
  clear:both;
  width:100%;
	margin:0 auto;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.squareImg:after {
  content:'';
  display:block;
  padding-bottom:100%;
}
.squareImg.circle {
	box-sizing: border-box;
  clear:both;
  border-radius: 9999px;
}
a.box .image.circle:before {
  border-radius: 9999px;
}


.row.heading .textCell {
	box-sizing: border-box;
	background-color:rgba(0,0,0,0.5);
	padding:10px;
	border-radius: 99px;
	text-align: center;
}

h1 {
  font-size:32px;
  color:#E40572;
  font-family: 'Bariol';
  font-weight:700;
}
h2 {
  font-size:20px;
  font-weight: 700;
}
h3 {
  font-size:18px;
  color:black;
}

.col .textCell {
  width:100%;
  font-size:19px;
  text-align: left;
  padding-bottom:20px;
  line-height: 1.2;
}
.col .textCell:last-child {
  padding-bottom:0;
}

.col .textCell .accent-outer {
  width:100%;
  text-align: right;
  margin-bottom:40px;
}
.col .textCell .accent-outer[align="center"]{text-align: center;}
.col .textCell .accent-outer[align="left"]{text-align: left;}
.col .textCell .accent-outer[align="right"]{text-align: right;}

.col .textCell .accent {
  display:inline-block;
  width:300px;
  height:2px;
  background-color:#C41188;
  right:0;
  position:relative;
}
.col .textCell[data-style="quote"] * {
  color:white;
}
.col .textCell[data-style="quote"] h1 {
  font-weight:400;
  font-size:50px;
}
.col .textCell[data-style="quote"]:before,
.col .textCell[data-style="quote"]:after {
  position:relative;
  content:'“';
  display:block;
  width:100%;
  text-align:center;
  color:rgba(0,0,0,0.2);
  font-weight:700;
  font-family: '';
  font-size:70px;
}
.col .textCell[data-style="quote"]:before {top:0;}
.col .textCell[data-style="quote"]:after {content:'”'; top:20px;}

.col .textCell ol {
  margin: 0;
  padding: 0;
  margin-top:15px;
  list-style-type: none;
  color: #444444;
}

.col .textCell ol li {
  counter-increment: step-counter;
  margin-bottom: 10px;
  vertical-align: bottom;
}

.col .textCell ol li::before {
  margin-top:-2px;
  position:relative;
  float:left;
  display:block;
  text-align: center;
  line-height: 2;
  font-family: 'Bariol';
  width:25px;
  height:25px;
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 80%;
  background-color: #00ADEE;
  color: white;
  font-weight: 700;
  border-radius: 99px;
}

.col .textCell[data-listyle="ticks"] ul li {
  list-style-type:none;
}
.col .textCell[data-listyle="ticks"] ul li::before {
  font-family:'FontAwesome';
  content:'\f00c';
  margin-right:10px;
  /* color:#00ADEE; */
  color:#FD9827;
}

.row._nowrap .col > .map-outer,
.row._nowrap .col > .image-header,
.row._nowrap .col > .image.fullImg {
  padding:0 !important;
}
.row._nowrap .col > .textCell {
  box-sizing: border-box;
  padding:50px 100px;
}
.row._nowrap .col > .map-outer:last-of-type,
.row._nowrap .col > .image.fullImg:last-of-type {
  padding-bottom:0px;
}


.col .button {
  height:50px;
}
.button-outer {
  width:100%;
  position:relative;
}
.button-over {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
}
.button-outer[align="left"] {text-align: left;}
.button-outer[align="center"] {text-align: center;}
.button-outer[align="right"] {text-align: right;}
.button {
  font-family:'Bariol';
  cursor:pointer;
  box-sizing: border-box;
  position:relative;
  color:white;
  background-color:transparent;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  width:auto;
  height:40px;
  margin-bottom:10px;
  padding:0px 30px;
  font-size:18px;
  font-weight: 700;
  text-transform: uppercase;
  display:inline-block;
  border:solid 1px white;
  border-radius: 10px;
  overflow:hidden;

  transition:all .15s ease-in-out;
  -ms-transition:all .15s ease-in-out;
  -webkit-transition:all .15s ease-in-out;
}
.button:hover {
  background-color:white;
  color:black;
}
.button[data-style="coloured"]{
  color:rgba(255,255,255,.8);
}
.button[data-style="coloured"]:hover {
  color:rgba(255,255,255,1);
}
.button[data-style="coloured"]:hover > .button-over {
  background-color:rgba(0,0,0,0.2);
}
a:last-of-type .button {margin-bottom:0;}
.button.auto-width{
	width:auto;
	float:left;
}
.button div.__c {
  position:relative;
  z-index:1;
  top:50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
}
.button:after {

}
.button.rounded:after {
  width:80%;
  left:50%;
  border-radius: 99px;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.button:hover::after {
  width:0%;
}
.button.orange {
  display:inline-block;
  float:none;
  margin-top:15px;
  background-color:#FD9827;
}
.button.orange:after {
  background-color:#d67f22;
}
.page-separator {
  width:100%;
  height:2px;
  background-color:#eaeaea;
  float:left;
  margin:40px 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.col .videoContain {
}

.col .videoThumb {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  border: solid 10px white;
}

.videoThumb {
  cursor:pointer;
  box-sizing: border-box;
  position:relative;
  width:100%;
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
}
.videoThumb:hover::before {
  color:white;
}
.videoThumb:before {
  content:'\f144';
  font-family: 'FontAwesome';
  font-size:75px;
  color:rgba(255,255,255,0.7);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.videoThumb:after {
  content:'';
  display:block;
  padding-bottom:55%;
}

/*--- TEAM ---*/
.grid-contain {
	float:left;
	margin-top:20px;
	width:calc(100% + 50px);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.grid-item {
	box-sizing: border-box;
	width:33.333333%;
	float:left;
	padding: 0 50px 50px 0;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.grid-item .innerGrid {
	width:100%;
	min-height:20px;
	text-align:center;
}
.grid-item img {
	width:100%;
	max-width: 100%;
	display:block;
}
.grid-item .image.circle {
	border:solid 10px #e3e3e3;
}
.grid-item .text {
	position:relative;
	margin-top:5px;
	font-size:12px;
}
.grid-item .text p {
	line-height:1.4;
}

.image-inline .inline-row {
  float:left;
  position:relative;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.image-inline .img-wrap {
  box-sizing: border-box;
  /*background-color:rgba(255,255,255,0.2);*/
  /* padding:15px; */
  /*border-radius: 99px;*/
}
.image-inline img  {
  display:block;
  float:left;
  height:70px;
  width:auto;
}
.image-inline .title {
  flex:1;
  box-sizing: border-box;
  padding: 0 0 0 20px;
  float:left;
  position:relative;
}
.image-inline .title h1 {
  font-size:20px;
}
.image-inline .caption {
  padding-top:10px;
  width:100%;
  display:block;
  clear:both;
  font-size: 16px;
  color:#444444;
}

.image-icon {
  position:relative;
  background-color:#BE1E2D;
  color:white;
  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
}
.image-icon .title {
  position:absolute;
  width:100%;
  left:0;
  bottom:20px;
  text-align: center;
}
.image-icon .title:after {
  content:'';
  position:absolute;
  top:-20px;
  left:50%;
  transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);
  -webkit-transform:translate(-50%,0);
  width:20px;
  height:4px;
  background-color:white;

  transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
}
.image-icon:hover {
  background-color:#8c1620;
}
.image-icon:hover > .title:after {
  width:calc(100% - 40px);
}
.image-icon:after {
  content:'';
  display:block;
  padding-bottom:80%;
}
.image-icon h1 {
  font-size: 25px;
  color:white;
}
.image-icon .the-image {
  width:100px;
  height:100px;
  background-position:center center;
  background-size:contain;
  background-repeat: no-repeat;
  margin-top:-15%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.row.hot-buttons {
  background-color:transparent !important;
  margin-top:-100px;
}
.row.hot-buttons .wrapInner {
  width:calc(100% - 10px);
  padding-left:10px;
  background-color:white;
}

.image-header {
  position:relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.col .image-header .bgrnd-img {
  position:relative;
}
.col .image-header .bgrnd-img img {
  object-fit: cover;
  height:100%;
  object-position: center center;
  font-family: 'object-fit: cover; object-position: center center;';
  position:relative;
  transform:translate(0);
  -ms-transform:translate(0);
  -webkit-transform:translate(0);
  max-height:70vh;
}
.image-header .wrap {
  box-sizing: border-box;
  padding:40px;
  width:100%;
  height:auto;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.image-header[data-height="full"]{

}
.image-header[data-height="half"]{

}
.image-header[data-height="half"] .float  {}
.image-header h1,
.image-header h2 {
  color:black;
  text-align: center;
  color:white;
  text-shadow: 0px 0px 4px rgba(100, 100, 100, 1);
  font-size: 60px;
}
.image-header[data-height="full"] .float,
.image-header[data-height="half"] .float {
  width:100%;
  float:left;
  /* padding:0 100px; */
  box-sizing: border-box;
}
.image-header[data-height="half"] .float {

}
.image-header[data-height="full"] .float-inner {
  /* padding: 20px 40px; */
  text-align: left;
}
.image-header .text {
  font-weight: normal;
  font-size: 28px;
  line-height: 1.4;
  text-align: left;
}
.image-header .text-small {
  font-size:26px;
  line-height:1.2;
  margin-top:10px;
  color:rgba(255,255,255,0.75);
}
.image-header .button {
  display:inline-block;
  float:none;
  margin-top:14px;
}
.image-header .page-down {
  cursor:pointer;
  width:40px;
  height:40px;
  border:solid 4px white;
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translate(-50%,0);
  -ms-transform:translate(-50%,0);
  -webkit-transform:translate(-50%,0);
  border-radius: 99px;
  color:white;
  font-size:20px;
  transition:all .25s ease-in-out;
  -ms-transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
}
.image-header .page-down:before {
  content:'\f078';
  margin: -1px 0 0 0px;
}
.image-header .page-down:hover {
  color:black;
  background-color:white;
}

.social-section {
	width:auto;
  position:absolute;
  right:0;
  top:50%;
  transform:translate(0,-50%);
  -ms-transform:translate(0,-50%);
  -webkit-transform:translate(0,-50%);
}
.social-section.mobile {
  display:block;
  position:relative;
  float:left;
  margin-top:40px;
}
.social-section.mobile .sharebtn {
  background-color:#a3a3a3;
  color:white;
}
.nav.compact .sharebtn {
  background-color:rgba(0,0,0,0.5);
}
.sharebtn {
	position:relative;
	width:40px;
	height:40px;
	display:inline-block;
	margin-right:5px;
	color:white;
	font-size:25px;
	border-radius: 99px;
	transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-webkit-transition:all .25s ease-in-out;
  background-color:#a3a3a3;
}
.sharebtn:hover {background-color:#000000;}
.sharebtn:before {margin-left:0px;}
.sharebtn.__facebook:before {content: '\f09a'; font-size:23px; margin-left:-1px}
.sharebtn.__twitter:before {content: '\f099';}
.sharebtn.__instagram:before {content: '\f16d'; margin-left:-1px;}
.sharebtn.__linkedin:before {content: '\f0e1';}
.social-section.__center {
	position:relative;
	left:50%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.social-section a:last-of-type .sharebtn {
	margin-right:0;
}
.icc:before {
	font-family:'FontAwesome';
	position:absolute;
	margin: 1px 0 0 1px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}



/*--- MASONRY GRID ---*/
/*.grid-sizer, .shape {
	width:33.333333%;
}*/
.shape {
	position:relative;
	box-sizing: border-box;
	/*background-color:orange;*/
	/*border:solid 2px red;*/
	float:left;
	padding:10px;
}
.shape img {
	display:none;
	opacity:0;
	width:100%;
	max-width:100%;
	display:block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition:opacity .4s ease-in-out;
	-moz-transition:opacity .4s ease-in-out;
	-webkit-transition:opacity .4s ease-in-out;
}
.shape.loaded img {
	display:block;
	opacity:1;
}
.shape.loaded .facade {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:transparent;
}



/*--- FOOTER ---*/

.footer {
  position:relative;
	flex-shrink: 0;
	clear: both;
	box-sizing: border-box;
  float:left;
  width:100%;
  background-color: black;
	color:white;
	font-size: 16px;
}
._center {
  text-align: center;
}
.footer-table {
  display:block;
  width: 100%;
}
.footer-icons {
  font-size: 25px;
  margin-top: 10px;
}
.footer-logo {
  display:none;
}
.footer .wrap {
  overflow-x:hidden;
}
.footer-main {
  width:100%;
  padding:40px 0 0 0;
  position:relative;
}
.f-col {
  box-sizing: border-box;
  position:relative;
  float:left;
}
.f-col img {
  width:100%;
}
.f-col:nth-of-type(1){width:calc(50% - 100px)}
.f-col:nth-of-type(2){width:calc(200px)}
.f-col:nth-of-type(3){
  width:calc(50% - 100px);
  padding:0 0 0 200px;
}

.f-col-50 {
  width:50%;
  float:left;
  box-sizing: border-box;
}

.f-col h2 {
  font-size: 18px;
  font-family: 'Bariol';
  color: #C41188;
  font-weight: 700;
}
.f-col._space p {
  color:white;
  margin:0 0 20px 0;
}
.f-col._space h2 {
  margin-bottom:5px;
}
.f-col .f-nav {
  padding-top:10px;
}
.f-col ul {
  box-sizing: border-box;
  list-style-type: none;
  margin:0;
  padding:0;
  padding-right:20px;
}
.f-col li {
  margin:0;
  padding:0;
  transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
}
.f-col li:before {
  position:relative;
  content:'—';
  font-weight: 700;
  margin-right:8px;
  color:#C41188;
}
.f-col li:hover {
  color:#C41188;
}
.f-col li.current_page_item {
  color:#C41188;
}
.f-social {
  position:relative;
  width:30px;
  height:30px;
  border:solid 2px #00ADEE;
  color: #00ADEE;
  border-radius: 99px;
  float:left;
  margin-top:10px;
  margin-right:5px;
}
.f-social.__facebook:before {content:'\f09a';}
.f-social.__instagram:before {content:'\f16d';}
.footer-bottom {
  font-size:14px;
  font-weight:normal;
  text-align: center;
  width:100%;
  height:40px;
  background-color:black;
  padding:0 10px;
  box-sizing: border-box;
}

/*--- other ---*/

.icc:before, .icl:before {
  font-family: 'FontAwesome';
  content:"";
  display:block;
  font-size: inherit;
  color:inherit;
}
.icc:before {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) rotate(0deg);
  -ms-transform: translate(-50%,-50%) rotate(0deg);
  -webkit-transform: translate(-50%,-50%) rotate(0deg);
}
.icl:before {
  position:absolute;
  top:50%;
	left:10px;
  transform: translate(0,-50%) rotate(0deg);
  -ms-transform: translate(0,-50%) rotate(0deg);
  -webkit-transform: translate(0,-50%) rotate(0deg);
}
._c {
  line-height: 1;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
}
.icon {
	position:relative;
	font-size:14px;
	padding:20px 10px 20px 35px;
	line-height: 1.2;
	border-bottom:solid 2px #ededed;
	background-color:white;
}
.icon.mini {
	border:0;
	padding:0 0 0 15px;
	background-color:transparent;
}
.icon.mini:before{
	font-size:14px;
	color:white;
	left:0;
}
.col .icon:last-of-type {
	border:0;
}
.icon:before {
	color:#139dd9;
	font-size:18px;
	font-family: 'FontAwesome';
	position: absolute;
	left:10px;
	top:50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.collection .innerCol {
  width:calc(100% + 0px);
}

.collection li {
  box-sizing:border-box;
  position:relative;
  list-style-type: none;
  width:25%;
  float:left;
  padding-right:0px;
  color:white;
  text-transform: uppercase;
  font-weight:normal;
  font-size:30px;
  text-align: center;
  line-height: 1.1;
}
.collection li div {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.collection li:after {
  content:'';
  padding-bottom:100%;
  display:block;
  background-color:#C41188;
}
.collection a {display:block;}
.collection a:nth-of-type(1) li:after {
  animation: fade 10s linear 0s infinite;
  -webkit-animation: fade 10s linear 0s infinite;
}
.collection a:nth-of-type(2) li:after {
  animation: fade 10s linear -3s infinite;
  -webkit-animation: fade 10s linear -2s infinite;
}
.collection a:nth-of-type(3) li:after {
  animation: fade 10s linear -6s infinite;
  -webkit-animation: fade 10s linear -4s infinite;
}
.collection a:nth-of-type(4) li:after {
  animation: fade 10s linear -9s infinite;
  -webkit-animation: fade 10s linear -5s infinite;
}

@keyframes fade {
  0% {background-color:#C41188;}
  50% {background-color:#ffafe0;}
  100% {background-color:#C41188;}
}

@-webkit-keyframes fade {
  0% {background-color:#C41188;}
  50% {background-color:#ffafe0;}
  100% {background-color:#C41188;}
}

.card-contain {
  position:relative;
  float:left;
  width:100%;
  box-sizing: border-box;
  text-align: center;
  min-height:200px;
}
.col .card-contain {
  margin-bottom:20px;
}
.col .card-contain:last-of-type {
  /* margin-bottom:0; */
}
.card-contain.__white {
  border:solid 2px #E40572;
}
.card-contain .card-float {
  box-sizing: border-box;
  padding:10px 10px;
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-ransform:translateY(-50%);
}
.card-contain .separate {
  position:relative;
  width:70%;
  background-color:white;
  height:2px;
  left:50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.card-contain.__white .separate {
  background-color: #E40572;
}
.card-contain h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-style: italic;
  font-size:40px;
  margin:0;
  padding:0;
}
.card-contain .card-text {
  padding:10px 0;
}


/* --- */




/*-- Animations --*/





/*--*/
