<div class="icc __tick"></div>
<p>You've picked your top 5 words!<br><strong>Hit the green arrow to continue.</strong></p>
<p class="__small">If you would like to change your top 5 words, please do so before hitting the green arrow.</p>
<div class="button __winclose"><div class="_c">Okay</div></div>
