<div class="icc __tick"></div>
<p>Your Payment was accepted. This allows you to play the game twice.</strong></p>
<p class="__small">Your unique link to play has been sent to you.</p>
<div class="__tips">
  There are 12 questions.<br>
  For an accurate result focus on:
  <ul>
    <%if(mode=='business'){%>
    <li>How you do things, not what you do</li>
    <li>Think about your brand, not yourself</li>
    <li>Try picking words that work together</li>
    <%} else {%>
    <li>How I do things, not what I do</li>
    <li>Think about yourself, not your brand</li>
    <li>Try picking words that work together</li>
    <%}%>
  </ul>
</div>
<div class="button __winclose"><div class="_c">Okay</div></div>
