<div class="icc __tick"></div>
<p>
  It's time to <strong>pick your top 5 words!</strong>
  These words will be used to calculate your final Brand Personality!
</p>
<div class="__tips">
  There are 12 questions.<br>
  For an accurate result focus on:
  <ul>
    <%if(mode=='business'){%>
    <li>How you do things, not what you do</li>
    <li>Think about your brand, not yourself</li>
    <li>Try picking words that work together</li>
    <%} else {%>
    <li>How I do things, not what I do</li>
    <li>Think about yourself, not your brand</li>
    <li>Try picking words that work together</li>
    <%}%>
  </ul>
</div>
<div class="button __winclose"><div class="_c">Okay</div></div>
