<div class="icc __tick"></div>
<p>You've answered all 12 questions. You're almost there!<br><strong>Hit the green arrow to continue.</strong></p>
<p class="__small">If you would like to change any of your answers, please do so before hitting the green arrow.</p>
<div class="button __winclose"><div class="_c">Okay</div></div>
