<div class="dialogue"></div>

<a href="<%= locals.homeurl %>">
  <div class="logo"></div>
</a>

<div class="box-contain">
  <div class="box-section" id="play-business">

    <div class="_c">Play Business</div>

  </div>
  <div class="box-section" id="play-personal">

    <div class="_c">Play Personal</div>

  </div>
</div>
