<div class="bp-anim-contain">
  <div class="icon icon-1"></div>
  <div class="icon icon-2"></div>
  <div class="icon icon-3"></div>
  <div class="icon icon-4"></div>
  <div class="icon icon-5"></div>
  <div class="icon icon-6"></div>
  <div class="icon icon-7"></div>
  <div class="icon icon-8"></div>
  <div class="icon icon-9"></div>
  <div class="icon icon-10"></div>
  <div class="icon icon-11"></div>
  <div class="icon icon-12"></div>
</div>
<%if(locals.text){%><strong><%=text%></strong><%}%>
