<div class="dialogue"></div>

<div class="arrow right icc disabled"></div>
<div class="arrow left icc disabled"></div>

<div class="wrap">

  <div class="question pulse">
    <div class="help-icon icc"></div>
    <div class="overlay"></div>
    <div class="_cs _num"></div>
    <div class="_c _question"></div>
  </div>
  <div class="choices">
    <ul class="words pulse">
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
      <li><div class="inner"><div class="overlay"></div></div></li>
    </ul>
  </div>
  <div class="__content">

  </div>
</div>
