<div id="payment_stage">
  <a href="<%= locals.homeurl %>">
    <div class="logo"></div>
  </a>

  <div class="wrap">
    <h1>Payment Required</h1>

    <div class="status-message"></div>
    <div class="loader spin icc form-loader"></div>

    <form class="payment" method="post">
      <div class="field half">
        <input type="text" name="first" placeholder="First Name" required>
      </div>
      <div class="field half">
        <input type="text" name="last" placeholder="Last Name">
      </div>
      <div class="field half">
        <input type="text" name="business" placeholder="Business Name">
      </div>
      <div class="field half">
        <input type="text" name="email" placeholder="E-Mail Address" required>
      </div>

      <div class="field half">
        <input id="datepicker" type="text" name="birthday" placeholder="Birthday (DD/MM)">
      </div>
      <div class="field half">
        <input type="text" name="hear_about" placeholder="How did you hear about us?">
      </div>

      <!-- <div class="field has_label">
        <div class="select-label"><div class="_c">Yes, I'd love to hear more about brand personalities.</div></div>
        <label class="chk-container">
          <input type="checkbox" name="optin">
          <span class="checkmark"></span>
        </label>
      </div> -->

      <div class="field has_label">
        <div class="select-label"><div class="_c">Why are you interested in the quiz?*</div></div>
        <div class="select-cont">
          <select name="interested" required>
            <option value>Select an option</option>
            <option value="Rebranding">Rebranding</option>
            <option value="New business branding">New business branding</option>
            <option value="I’m a designer">I’m a designer</option>
            <option value="Just curious">Just curious</option>
          </select>
        </div>
      </div>

      <div class="field has_label">
        <div class="select-label"><div class="_c">Country</div></div>
        <div class="select-cont">
          <select id="countries" name="country" required>
          </select>
        </div>
      </div>

      <div class="field">
        <div class="loader spin icc input-loader"></div>
        <input id="coupon_code" type="text" name="coupon" placeholder="Coupon Code">
      </div>

      <div class="field">
        <div class="price-field">
          <span>Price:</span>
          <span class="price-amount"><%=price%></span>
          <span>USD</span>
        </div>
      </div>

      <div class="field card-field">
        <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
        </div>

        <!-- Used to display form errors. -->
        <div id="card-errors" role="alert"></div>
      </div>

      <div class="form-submit"><div class="_c">Submit</div></div>

    </form>
  </div>
</div>
