<!-- <div class="question __fill">
  <div class="_c _question">Your Brand Personality</div>
</div> -->

<div class="main_content">

  <% var len = personalities.length; %>
  <% personalities.forEach(function(p){ %>

    <div class="col _<%=len%>">

      <img src="<%=p.image_url%>">

    </div>

  <% }); %>

  <div class="description">
    <%-personalities[0].description%>
  </div>

  <div class="restart-game button"><div class="_c">Restart Game</div></div>

</div>
