@media screen and (max-width: 1500px) {
  .wrap {
    width:82%;
  }
}

@media screen and (max-width: 1280px) { /*main*/
  .box-section {
    width:100%;
    height:50vh;
    border:0;
    border-bottom: solid 1px rgba(0,0,0,0.5);
  }
  .box-contain .box-section:last-of-type {
    border:0;
  }
  .box-section.smaller {
    width:100%;
    height:40vh;
  }
  .box-section.hovered {
    width:100%;
    height:60vh;
    background-color:#c3c3c3;
  }

  .result_stage .wrap,
  .wrap {
    width:100%;
    padding:40px;
    box-sizing: border-box;
    max-height: none;

    position:relative;
    top:auto;
    left:auto;
    transform:translate(0,0);
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
  }
  .question {
    padding:0 20px;
  }
  ._question {
    padding:0 25px;
  }
  .words li {
    width:50%;
    padding:0 40px 20px 0;
  }
  .arrow {
    position:fixed;
    border-radius: 0;
    height:60px;
    width:30px;
    z-index:9;
  }
  .arrow.left {left:0;}
  .arrow.right {right:0;}
  .arrow.progress {
    width:30px;
    height:60px;
  }
  .arrow.progress:before {
    font-size:15px;
  }
  .words li .inner.active:after {
    left:auto;
    bottom:auto;
    right:10px;
    top:50%;
    transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
  }
  .button-contain {
    box-sizing: border-box;
    padding:20px;
    float:left;
    width:100%;
  }

  @keyframes pulse-arrow {
    0% {
      margin-left:1px;
    }
    100% {
      margin-left:7px;
    }
  }

  .logo {
    left:calc(50% - 10px);
    transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
  }

  #payment_stage .wrap {
    overflow-x: hidden;
    padding-top:200px;
    width:100%;
    left:0;
    top:0;
    transform:translate(0,0);
    -ms-transform:translate(0,0);
    -webkit-transform:translate(0,0);
    float:left;
    border-radius: 0;
  }
  .payment .field.half {
    width:100%;
  }

}


/*-----*/

@media screen and (max-width: 560px) {
  .words li {
    width:100%;
    height:80px;
  }
}
